@use 'main';
@use 'utilities';

html {
    font-family: utilities.$copy;
}

.title-card {
    margin: 0px 8px 8px 8px;
    padding: 8px;
    border-radius: 24px;
    background-color: utilities.$primary;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.title-card h1, div.title-card p{
    color: utilities.$on-primary;
    margin: 0px;
    padding: 0px 8px;
}

.map {
    margin-bottom: 16px;
}

.contact-cards {
    padding: 0px 8px;
    margin-bottom: 16px;
}

section.contact-cards h2, section.contact-cards p {
    margin: 0px;
    padding: 0px 8px;
}

section.contact-cards h2 {
    margin-bottom: 8px;
}

.address-card {
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 24px;
    background-color: utilities.$surface-variant;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.phone-card {
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 24px;
    background-color: utilities.$surface-variant;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.email-card {
    margin: 0px;
    padding: 16px;
    border-radius: 24px;
    background-color: utilities.$surface-variant;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



h3 {
    margin: 0px 0px 8px 0px;
    padding-left: 8px;
}

p {
    margin: 0px 8px 8px 8px;
    padding: 0px;
    font-family: utilities.$copy;
    color: utilities.$on-surface-variant;
}

.find-me {
    padding: 0px 8px;
    margin: 0px 0px 16px 0px;
}

section.find-me h2 {
    margin: 0px 0px 8px 0px;
    padding: 0px 8px;
}

section.hours h2 {
    padding: 0px;
    margin: 0px 0px 8px 0px;
}

section.hours p {
    padding: 0px;
    margin: 0px 0px 8px 0px;
}







.hours {
    padding: 16px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    border-radius: 24px;
    overflow: hidden;
  }

  thead th:nth-child(1) {
    width: 50%;
  }
  
  thead th:nth-child(2) {
    width: 50%;
  }

  th,
td {
  padding: 20px;
}

th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }

  thead {
    background-color: utilities.$primary;
    color: utilities.$on-primary;
  }

  tbody {
    background-color: utilities.$surface-variant;
    color: utilities.$on-surface;
  }

  