@use 'utilities';

footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: utilities.$copy;
    font-size: 14px;
    padding: 0px 16px;   
}

footer p {
    margin: 0px;
}

.emeskay-address {
    font-family: utilities.$heading;
    font-size: 16px;
    color: utilities.$on-background;
}

footer a {
    color: utilities.$primary;
    text-decoration: none;
}