@use 'utilities';



.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: utilities.$primary-color;
    height: calc(100vh - 70px);
    margin-bottom: utilities.$compact-margin-vertical;
    padding: 0px utilities.$compact-padding;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    border-radius: 30px;
  }

  .heading {
    font-family: utilities.$heading;
    color: white;
  }

  .subheading {
    font-family: utilities.$copy;
    color: white;
  }
  