@use 'utilities';

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: utilities.$primary;
    height: calc(100vh - 81px);
    margin-bottom: utilities.$compact-margin-vertical;
    padding: 0px 24px;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    border-radius: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .heading {
    font-family: utilities.$heading;
    color: white;
    margin: 0px 0px 8px 0px;
  }

  .subheading {
    font-family: utilities.$copy;
    color: white;
    margin: 0px 0px 16px 0px;
  }