@use 'utilities';

.map {
    margin-bottom: utilities.$compact-margin-vertical;
    padding: 0px 8px;
}

.map-heading {
    font-family: utilities.$heading;
    margin: 0px 0px 8px 0px;
    padding: 0px 16px;
}

.google-map {

    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 24px;
    
}

