@use 'utilities';

.map {
    margin-bottom: utilities.$compact-margin-vertical;
}

.map-heading {
    font-family: utilities.$heading;
    margin: 0px 0px 8px 0px;
    padding: 0px 16px;
}

.google-map {
    border-radius: 24px;
    
}

