@use 'utilities';

header {
    display: flex;
    justify-content: center;
    background-color: utilities.$bg-color;
    margin-bottom: utilities.$compact-margin-vertical;
}

.logo {
    width: 160px;
}