@use 'utilities';

header {
    height: 52px;
}

nav {
    width: 100%;
    max-height: 80px;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    background-color: utilities.$background;
    padding: 12px 16px 16px 16px;

}

.logo {
    height: 24px;
}