@use 'utilities';

.partners {
    padding: 0px 8px;
    margin: 0px 0px 24px 0px;
    
}

section.partners h2 {
    font-family: utilities.$heading;
    color: utilities.$on-surface;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 16px;
}

.sto-card {
    background-color: utilities.$surface-variant;
    border-radius: 12px;
    width: 100%;
    padding-bottom: 16px;
    
}

div.sto-card p {
    font-family: utilities.$copy;
    color: utilities.$on-surface;
    margin: 0px;
    padding: 0px 16px;
}

.sto-logo-container {
    display: flex;
    justify-content: center;
    background-color: utilities.$surface;
    border-radius: 12px;
    border: 1px solid utilities.$outline;
    margin-bottom: 8px;
    padding: 8px;
    aspect-ratio: 16/9;
}

.sto-logo {
    max-width: 286px; 
    object-fit: scale-down;
}