@use 'utilities';

.services {
    padding: 0px 8px;
}

section.services h2, h3 {
    font-family: utilities.$heading;
    padding: 0px utilities.$compact-padding;
    margin: 0px 0px 8px 0px;
}

.services-card {
    background-color: utilities.$surface-variant;
    color: utilities.$on-surface-variant;
    border-radius: 24px;
    margin-bottom: 24px;
    padding: 8px;
}

div.services-card p {
    margin: 16px;
    font-family: utilities.$copy;
    color: utilities.$on-surface-variant;
}

.rehab-card {
    
    background-color: utilities.$surface;
    border-radius: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.injury-rehab-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 8px;
}

div.rehab-card h3 {
    color: utilities.$on-surface;
}

div.rehab-card p {
    margin: 0px utilities.$compact-margin-horizontal 16px utilities.$compact-margin-horizontal;
    color: utilities.$on-surface;
}

.rehab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin: 0px 0px 0px 16px;
}

.rehab-book {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border: none;
    background-color: utilities.$secondary-container;
}

button.rehab-book label {
    font-family: utilities.$copy;
    font-size: 14px;
    color: utilities.$on-secondary-container;
}

.rehab-learn {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border-width: 1px;
    border-color: utilities.$outline;
    background-color: utilities.$surface;
}

button.rehab-learn label {
    font-family: utilities.$copy;
    font-size: 14px;
    color: utilities.$primary;
}

/* Injury Prevention Card */

.prehab-card {
    background-color: utilities.$surface;
    border-radius: 24px;
    padding-bottom: 16px;
}

.injury-prehab-image {

    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 8px;
}

div.prehab-card h3 {
    color: utilities.$on-surface;
    margin-bottom: 8px;
}

div.prehab-card p {
    margin: 0px utilities.$compact-margin-horizontal 16px 16px;
    color: utilities.$on-surface;
}

.prehab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin: 0px 0px 0px 16px;
}

.prehab-book {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border: none;
    background-color: utilities.$secondary-container;
}

button.prehab-book label {
    font-family: utilities.$copy;
    font-size: 14px;
    color: utilities.$on-secondary-container;
}

.prehab-learn {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border-width: 1px;
    border-color: utilities.$outline;
    background-color: utilities.$surface;
}

button.prehab-learn label {
    font-family: utilities.$copy;
    font-size: 14px;
    color: utilities.$primary;
}