@use 'utilities';

.testimonials {
    margin: 0px 0px 24px 0px;
    padding: 0px 0px 0px 8px;
    color: utilities.$on-surface-variant;
}

section.testimonials h2 {
    font-family: utilities.$heading;
    color: utilities.$on-surface;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 16px;
}

.slider {
    /* line them up horizontally */
    display: flex;
  
    /* allow for scrolling */
    overflow-x: auto;
  
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
  }
  .slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    background-color: utilities.$surface-variant;
    margin-right: 8px;
    padding: 16px;
    border-radius: 12px;
    
  }

  div.slider h3 {
    margin: 8px 0px 8px 0px;
    padding: 0px;
    font-family: utilities.$heading;
  }

  div.slider p {
    margin: 8px 0px 0px 0px;
    padding: 0px;
    font-family: utilities.$copy;
  }

  .testimonial-images {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }