@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');

$heading: 'Barlow Condensed', sans-serif;
$copy: 'Barlow', sans-serif;

$primary: #006a6a;
$on-primary: #ffffff;
$primary-container: #6ff7f6;
$on-primary-container: #002020;

$secondary: #b22b1d;
$on-secondary: #ffffff;
$secondary-container: #ffdad4;
$on-secondary-container: #410000;

$tertiary: #4b607c;
$on-tertiary: #ffffff;
$tertiary-container: #d3e4ff;
$on-tertiary-container: #041c35;

$error: #ba1a1a;
$on-error: #ffffff;
$error-container: #ffdad6;
$on-error-container: #410002;

$background: #fafdfc;
$on-background: #191c1c;
$surface: #fafdfc;
$on-surface: #191c1c;

$outline: #6f7979;
$surface-variant: #dae5e4;
$on-surface-variant: #3f4948;

$compact-margin-vertical: 24px;
$compact-margin-horizontal: 16px;

$compact-padding: 16px;