@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');

$heading: 'Barlow Condensed', sans-serif;
$copy: 'Barlow', sans-serif;

$primary-color: #008080;
$secondary-color: #800000;
$bg-color: #ffffff;

$compact-margin-vertical: 24px;
$compact-margin-horizontal: 16px;

$compact-padding: 16px;