@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');

$heading: 'Barlow Condensed', sans-serif;
$copy: 'Barlow', sans-serif;

$primary: #006a6a;
$on-primary: #ffffff;
$primary-container: #6ff7f6;
$on-primary-container: #002020;

$tertiary-container: #ffdad4;
$on-tertiary-container: #410000;

$surface-variant: #dbe4e6;
$on-surface-variant: #3f484a;

$secondary-color: #800000;
$secondary-color-bg: #f2e6e6;

$bg-color: #ffffff;

$compact-margin-vertical: 24px;
$compact-margin-horizontal: 16px;

$compact-padding: 16px;