@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
:root {
  --clr-primary: rgb(7 103 127);
  --clr-surface-tint: rgb(7 103 127);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(183 234 255);
  --clr-on-primary-container: rgb(0 31 40);
  --clr-secondary: rgb(76 98 106);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(207 230 241);
  --clr-on-secondary-container: rgb(7 30 38);
  --clr-tertiary: rgb(90 92 126);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(224 224 255);
  --clr-on-tertiary-container: rgb(23 25 55);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(245 250 253);
  --clr-on-background: rgb(23 28 31);
  --clr-surface: rgb(245 250 253);
  --clr-on-surface: rgb(23 28 31);
  --clr-surface-variant: rgb(219 228 232);
  --clr-on-surface-variant: rgb(64 72 76);
  --clr-outline: rgb(112 120 124);
  --clr-outline-variant: rgb(191 200 204);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(44 49 52);
  --clr-inverse-on-surface: rgb(237 241 244);
  --clr-inverse-primary: rgb(136 209 236);
  --clr-primary-fixed: rgb(183 234 255);
  --clr-on-primary-fixed: rgb(0 31 40);
  --clr-primary-fixed-dim: rgb(136 209 236);
  --clr-on-primary-fixed-variant: rgb(0 78 97);
  --clr-secondary-fixed: rgb(207 230 241);
  --clr-on-secondary-fixed: rgb(7 30 38);
  --clr-secondary-fixed-dim: rgb(179 202 212);
  --clr-on-secondary-fixed-variant: rgb(52 74 82);
  --clr-tertiary-fixed: rgb(224 224 255);
  --clr-on-tertiary-fixed: rgb(23 25 55);
  --clr-tertiary-fixed-dim: rgb(195 195 235);
  --clr-on-tertiary-fixed-variant: rgb(66 68 101);
  --clr-surface-dim: rgb(214 219 222);
  --clr-surface-bright: rgb(245 250 253);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(239 244 247);
  --clr-surface-container: rgb(234 239 241);
  --clr-surface-container-high: rgb(228 233 236);
  --clr-surface-container-highest: rgb(222 227 230);
  /*--clr-primary: rgb(0 1 195);
  --clr-surface-tint: rgb(52 61 255);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(45 54 255);
  --clr-on-primary-container: rgb(255 255 255);
  --clr-secondary: rgb(76 83 184);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(155 161 255);
  --clr-on-secondary-container: rgb(0 0 118);
  --clr-tertiary: rgb(97 0 120);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(146 33 175);
  --clr-on-tertiary-container: rgb(255 255 255);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(251 248 255);
  --clr-on-background: rgb(26 27 38);
  --clr-surface: rgb(251 248 255);
  --clr-on-surface: rgb(26 27 38);
  --clr-surface-variant: rgb(226 224 247);
  --clr-on-surface-variant: rgb(69 69 88);
  --clr-outline: rgb(117 117 137);
  --clr-outline-variant: rgb(197 196 219);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(47 47 59);
  --clr-inverse-on-surface: rgb(241 239 255);
  --clr-inverse-primary: rgb(190 194 255);
  --clr-primary-fixed: rgb(224 224 255);
  --clr-on-primary-fixed: rgb(0 0 110);
  --clr-primary-fixed-dim: rgb(190 194 255);
  --clr-on-primary-fixed-variant: rgb(0 0 239);
  --clr-secondary-fixed: rgb(224 224 255);
  --clr-on-secondary-fixed: rgb(0 0 110);
  --clr-secondary-fixed-dim: rgb(190 194 255);
  --clr-on-secondary-fixed-variant: rgb(51 58 159);
  --clr-tertiary-fixed: rgb(253 214 255);
  --clr-on-tertiary-fixed: rgb(52 0 66);
  --clr-tertiary-fixed-dim: rgb(244 174 255);
  --clr-on-tertiary-fixed-variant: rgb(121 0 149);
  --clr-surface-dim: rgb(218 216 232);
  --clr-surface-bright: rgb(251 248 255);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(245 242 255);
  --clr-surface-container: rgb(238 236 252);
  --clr-surface-container-high: rgb(232 230 246);
  --clr-surface-container-highest: rgb(227 225 241);*/
  /*--clr-primary: rgb(97 97 24);
  --clr-surface-tint: rgb(97 97 24);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(232 231 143);
  --clr-on-primary-container: rgb(29 29 0);
  --clr-secondary: rgb(96 96 67);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(231 228 191);
  --clr-on-secondary-container: rgb(29 29 6);
  --clr-tertiary: rgb(61 102 87);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(191 236 216);
  --clr-on-tertiary-container: rgb(0 33 23);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(253 249 236);
  --clr-on-background: rgb(28 28 20);
  --clr-surface: rgb(253 249 236);
  --clr-on-surface: rgb(28 28 20);
  --clr-surface-variant: rgb(230 227 209);
  --clr-on-surface-variant: rgb(72 71 58);
  --clr-outline: rgb(121 120 105);
  --clr-outline-variant: rgb(202 199 182);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(49 49 40);
  --clr-inverse-on-surface: rgb(244 241 227);
  --clr-inverse-primary: rgb(203 203 118);
  --clr-primary-fixed: rgb(232 231 143);
  --clr-on-primary-fixed: rgb(29 29 0);
  --clr-primary-fixed-dim: rgb(203 203 118);
  --clr-on-primary-fixed-variant: rgb(73 73 0);
  --clr-secondary-fixed: rgb(231 228 191);
  --clr-on-secondary-fixed: rgb(29 29 6);
  --clr-secondary-fixed-dim: rgb(202 200 165);
  --clr-on-secondary-fixed-variant: rgb(73 72 45);
  --clr-tertiary-fixed: rgb(191 236 216);
  --clr-on-tertiary-fixed: rgb(0 33 23);
  --clr-tertiary-fixed-dim: rgb(164 208 189);
  --clr-on-tertiary-fixed-variant: rgb(37 78 64);
  --clr-surface-dim: rgb(221 218 205);
  --clr-surface-bright: rgb(253 249 236);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(247 244 230);
  --clr-surface-container: rgb(241 238 224);
  --clr-surface-container-high: rgb(236 232 219);
  --clr-surface-container-highest: rgb(230 227 213);*/
  /*--clr-primary: rgb(129 85 18);
  --clr-surface-tint: rgb(129 85 18);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(255 221 183);
  --clr-on-primary-container: rgb(42 23 0);
  --clr-secondary: rgb(112 91 65);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(252 222 188);
  --clr-on-secondary-container: rgb(40 24 5);
  --clr-tertiary: rgb(83 100 62);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(214 233 185);
  --clr-on-tertiary-container: rgb(18 31 3);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(255 248 244);
  --clr-on-background: rgb(33 26 19);
  --clr-surface: rgb(255 248 244);
  --clr-on-surface: rgb(33 26 19);
  --clr-surface-variant: rgb(240 224 208);
  --clr-on-surface-variant: rgb(80 69 57);
  --clr-outline: rgb(130 117 104);
  --clr-outline-variant: rgb(212 196 181);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(54 47 39);
  --clr-inverse-on-surface: rgb(252 238 226);
  --clr-inverse-primary: rgb(247 187 112);
  --clr-primary-fixed: rgb(255 221 183);
  --clr-on-primary-fixed: rgb(42 23 0);
  --clr-primary-fixed-dim: rgb(247 187 112);
  --clr-on-primary-fixed-variant: rgb(101 62 0);
  --clr-secondary-fixed: rgb(252 222 188);
  --clr-on-secondary-fixed: rgb(40 24 5);
  --clr-secondary-fixed-dim: rgb(223 194 162);
  --clr-on-secondary-fixed-variant: rgb(87 67 43);
  --clr-tertiary-fixed: rgb(214 233 185);
  --clr-on-tertiary-fixed: rgb(18 31 3);
  --clr-tertiary-fixed-dim: rgb(186 205 159);
  --clr-on-tertiary-fixed-variant: rgb(60 76 40);
  --clr-surface-dim: rgb(229 216 204);
  --clr-surface-bright: rgb(255 248 244);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(255 241 229);
  --clr-surface-container: rgb(249 236 224);
  --clr-surface-container-high: rgb(243 230 218);
  --clr-surface-container-highest: rgb(238 224 212);*/
  /*--clr-primary: rgb(0 73 146);
  --clr-surface-tint: rgb(0 93 182);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(37 110 200);
  --clr-on-primary-container: rgb(255 255 255);
  --clr-secondary: rgb(74 95 131);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(201 219 255);
  --clr-on-secondary-container: rgb(46 67 102);
  --clr-tertiary: rgb(110 43 134);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(150 81 174);
  --clr-on-tertiary-container: rgb(255 255 255);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(249 249 255);
  --clr-on-background: rgb(25 28 33);
  --clr-surface: rgb(249 249 255);
  --clr-on-surface: rgb(25 28 33);
  --clr-surface-variant: rgb(222 226 240);
  --clr-on-surface-variant: rgb(66 71 82);
  --clr-outline: rgb(114 119 131);
  --clr-outline-variant: rgb(194 198 212);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(46 48 55);
  --clr-inverse-on-surface: rgb(239 240 248);
  --clr-inverse-primary: rgb(169 199 255);
  --clr-primary-fixed: rgb(214 227 255);
  --clr-on-primary-fixed: rgb(0 27 61);
  --clr-primary-fixed-dim: rgb(169 199 255);
  --clr-on-primary-fixed-variant: rgb(0 70 140);
  --clr-secondary-fixed: rgb(214 227 255);
  --clr-on-secondary-fixed: rgb(2 27 60);
  --clr-secondary-fixed-dim: rgb(178 199 240);
  --clr-on-secondary-fixed-variant: rgb(50 71 106);
  --clr-tertiary-fixed: rgb(250 215 255);
  --clr-on-tertiary-fixed: rgb(51 0 69);
  --clr-tertiary-fixed-dim: rgb(238 177 255);
  --clr-on-tertiary-fixed-variant: rgb(107 39 131);
  --clr-surface-dim: rgb(216 218 226);
  --clr-surface-bright: rgb(249 249 255);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(242 243 251);
  --clr-surface-container: rgb(236 237 246);
  --clr-surface-container-high: rgb(231 232 240);
  --clr-surface-container-highest: rgb(225 226 234);*/
  /*--clr-primary: rgb(97 97 24);
  --clr-surface-tint: rgb(97 97 24);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(232 231 143);
  --clr-on-primary-container: rgb(29 29 0);
  --clr-secondary: rgb(96 96 67);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(231 228 191);
  --clr-on-secondary-container: rgb(29 29 6);
  --clr-tertiary: rgb(61 102 87);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(191 236 216);
  --clr-on-tertiary-container: rgb(0 33 23);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(253 249 236);
  --clr-on-background: rgb(28 28 20);
  --clr-surface: rgb(253 249 236);
  --clr-on-surface: rgb(28 28 20);
  --clr-surface-variant: rgb(230 227 209);
  --clr-on-surface-variant: rgb(72 71 58);
  --clr-outline: rgb(121 120 105);
  --clr-outline-variant: rgb(202 199 182);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(49 49 40);
  --clr-inverse-on-surface: rgb(244 241 227);
  --clr-inverse-primary: rgb(203 203 118);
  --clr-primary-fixed: rgb(232 231 143);
  --clr-on-primary-fixed: rgb(29 29 0);
  --clr-primary-fixed-dim: rgb(203 203 118);
  --clr-on-primary-fixed-variant: rgb(73 73 0);
  --clr-secondary-fixed: rgb(231 228 191);
  --clr-on-secondary-fixed: rgb(29 29 6);
  --clr-secondary-fixed-dim: rgb(202 200 165);
  --clr-on-secondary-fixed-variant: rgb(73 72 45);
  --clr-tertiary-fixed: rgb(191 236 216);
  --clr-on-tertiary-fixed: rgb(0 33 23);
  --clr-tertiary-fixed-dim: rgb(164 208 189);
  --clr-on-tertiary-fixed-variant: rgb(37 78 64);
  --clr-surface-dim: rgb(221 218 205);
  --clr-surface-bright: rgb(253 249 236);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(247 244 230);
  --clr-surface-container: rgb(241 238 224);
  --clr-surface-container-high: rgb(236 232 219);
  --clr-surface-container-highest: rgb(230 227 213);*/
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Rubik", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fs-400: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-500: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-600: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-700: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-800: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --headings-min-ch-count: 40ch;
  --headings-max-ch-count: 60ch;
  --body-min-ch-count: 45ch;
  --body-max-ch-count: 75ch;
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --padding-sm: clamp(1rem, 3%, 1.5rem);
  --padding-md: clamp(1.5rem, 6%, 3rem);
  --padding-lg: clamp(3rem, 12%, 6rem);
  --padding: clamp(1rem, 4vw, 2.5rem);
  --block-flow-sm: min(var(--s1), 4vh);
  --block-flow-md: min(var(--s2), 8vh);
  --block-flow-lg: min(var(--s3), 16vh);
  --layout-gap-sm: clamp(1rem, 3vmax, 1.5rem);
  --layout-gap-md: clamp(1.5rem, 6vmax, 3rem);
  --layout-gap-lg: clamp(3rem, 8vmax, 4rem);
  --state-hover: 8%;
  --state-focus: 10%;
  --state-press: 10%;
  --state-drag: 16%;
}

.fb-logo {
  width: 3rem;
  height: 3rem;
  fill: var(--clr-on-surface-variant);
}

.map {
  border-radius: var(--s1);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  background-color: var(--clr-surface);
  color: var(--clr-on-surface);
}

html {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  line-height: 1.5;
}

h1, h2, h3, h4 {
  line-height: 1.1;
}

.primary-heading {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-800);
}

.secondary-heading {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-700);
}

.tertiary-heading {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-600);
}

@font-face {
  font-family: "Barlow";
  src: url("../../Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../../Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../../BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
.headline-s {
  font: clamp(3.2rem, 0.7vw + 2.9rem, 4.3rem)/clamp(3.2rem, 0.5vw + 3rem, 4rem) Barlow Condensed, sans-serif;
}

.headline {
  font: clamp(3.7rem, 0.7vw + 3.4rem, 4.8rem)/clamp(3.2rem, 0.5vw + 3rem, 4rem) Barlow Condensed, sans-serif;
}

.title {
  font: 500 clamp(1.9rem, 0.6vw + 1.7rem, 2.9rem)/clamp(2rem, 0.5vw + 1.8rem, 2.8rem) Barlow, sans-serif;
}

.body, .first-para {
  font: clamp(1.6rem, 0.3vw + 1.5rem, 2.1rem)/clamp(1.6rem, 0.5vw + 1.4rem, 2.4rem) Barlow, sans-serif;
}

.label {
  font: 500 clamp(1.4rem, 0.3vw + 1.3rem, 1.9rem)/clamp(1.6rem, 0.3vw + 1.5rem, 2rem) Barlow, sans-serif;
}

/*$primary: #006a6a;
$on-primary: #ffffff;
$primary-container: #6ff7f6;
$on-primary-container: #002020;*/
/*$secondary: #aa3527;
$on-secondary: #ffffff;
$secondary-container: #ffdad4;
$on-secondary-container: #410000;*/
/*$surface-dim: #d5dbda;
$surface: #f4fbfa;
$surface-bright: #f4fbfa;*/
/*$surface-variant: #dae5e4;*/
/*$surface-container-lowest: #ffffff;
$surface-container-low: #eff5f4;
$surface-container: #e9efee;
$surface-container-high: #e3e9e9;
$surface-container-highest: #dde4e3;*/
/*$on-surface: #002022;
$on-surface-variant: #3f4948;*/
.container {
  width: min(100vw - 3.2rem, 80ch);
  margin-inline: auto;
}

main > *:not(header) {
  width: min(100% - 3.2rem, 240ch);
  margin-inline: auto;
}

[class^=stack] > * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: 0;
}

.stack-lg > * + * {
  margin-block-start: var(--s3);
}

.stack-sm > * + * {
  margin-block-start: var(--s1);
}

/*main *:is(h1, h2, h3, p):not(.b-card *) {
    margin-block-start: 1em;
}*/
header .container:has(h1) {
  text-align: center;
}

/*main *:not(:is(.main-header, .section-picture)) {
  margin-block-start: var(--block-flow-md);
}

.main-header > * {
  margin-block-start: var(--block-flow-md);
}*/
.link {
  color: var(--clr-primary);
}

.image-tint {
  position: relative;
  isolation: isolate;
}
.image-tint::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--s1);
  background-color: var(--clr-primary);
  opacity: 0.1;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  max-width: 60ch;
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  display: block;
  block-size: auto;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  padding: var(--s1);
  text-decoration: none;
  position: relative;
  isolation: isolate;
  font-weight: var(--fw-medium);
}

.button--filled {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
}
.button--filled:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.button--filled:hover::after {
  background-color: var(--clr-on-primary);
}
.button--filled:active::after {
  opacity: var(--state-press);
}

.button--tonal {
  background-color: var(--clr-secondary-container);
  color: var(--clr-on-secondary-container);
}
.button--tonal:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.button--tonal:hover::after {
  background-color: var(--clr-on-secondary-container);
}
.button--tonal:active::after {
  opacity: var(--state-press);
}

.button--outlined {
  background-color: transparent;
  color: var(--clr-primary);
  border: solid 1px var(--clr-outline);
}
.button--outlined:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.button--outlined:hover::after {
  background-color: var(--clr-primary);
}
.button--outlined:active::after {
  opacity: var(--state-press);
}

.b-card {
  --padding: 1.61rem;
  --margin: 1.61rem;
  --gap: 1.61rem;
  border-radius: var(--s1);
  height: auto;
  width: 100%;
  text-decoration: none;
}
.b-card--is-link {
  position: relative;
  isolation: isolate;
}
.b-card--is-link:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.b-card--is-link:hover::after {
  background-color: var(--clr-on-surface);
}
.b-card--is-link:active::after {
  opacity: var(--state-press);
}
.b-card--filled {
  background-color: var(--clr-surface-container-high);
  color: var(--clr-on-surface);
}
.b-card__content-container {
  padding: var(--padding);
}
.b-card__content-container--testimonial {
  grid-template: auto auto 1fr/auto 1fr;
  row-gap: 0;
}
.b-card__image {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/10;
  inline-size: 100%;
  border-radius: var(--s1);
  background-color: var(--clr-primary);
}
.b-card__image--ahg, .b-card__image--sto, .b-card__image--balens {
  -o-object-fit: contain;
     object-fit: contain;
  padding: var(--s1);
}
.b-card__image--sto {
  background-color: #ffffff;
}
.b-card__flex-layout {
  display: flex;
  justify-content: space-between;
}
.b-card__flex-layout--contact {
  justify-content: flex-start;
  gap: var(--s1);
}
.b-card__icon {
  fill: var(--clr-on-surface);
}
.b-card__icon--testimonial {
  width: 3rem;
  height: 3rem;
  fill: var(--clr-on-surface-variant);
}
.b-card__icon--stars {
  margin-block-start: 0.3rem;
  fill: var(--clr-primary);
}
.b-card__title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-600);
}
.b-card__title--testimonial {
  font-family: var(--ff-primary);
  font-weight: var(--fw-medium);
  font-size: var(--fs-500);
  padding-inline-start: 0.0625rem;
}
.b-card__supporting-text {
  margin-block-start: var(--margin);
}
.b-card__supporting-text--testimonial {
  grid-area: 3/1/4/3;
}
.b-card__video {
  border-radius: var(--s1);
}

.extended-fab-container {
  display: flex;
  justify-content: flex-end;
  height: 56px;
  min-width: 80px;
  text-decoration: none;
  position: relative;
  isolation: isolate;
  background-color: var(--clr-primary-container);
  color: var(--clr-on-primary-container);
  border-radius: var(--s0);
}
.extended-fab-container:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.extended-fab-container:hover::after {
  background-color: var(--clr-on-primary-container);
}
.extended-fab-container:active::after {
  opacity: var(--state-press);
}

.extended-fab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 56px;
  min-width: 80px;
  padding-left: 16px;
  padding-right: 24px;
}
.extended-fab__label {
  font-weight: var(--fw-medium);
}
.extended-fab > svg {
  width: auto;
  height: var(--s1);
  fill: var(--clr-on-tertiary-container);
}

.list li {
  background-color: var(--clr-surface);
  height: 72px;
  padding: 8px 24px 8px 16px;
  display: flex;
  gap: var(--s0);
  align-items: center;
  color: var(--clr-on-surface);
}
.list__leading-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--clr-on-primary);
}
.list__divider {
  color: var(--clr-outline);
}

.segmented-button {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  width: 100%;
  border-radius: var(--s2);
  background-color: var(--clr-surface-container-low);
}
.segmented-button a {
  text-decoration: none;
}

.segmented-button__left {
  position: relative;
  isolation: isolate;
  outline: none;
  border-radius: var(--s2);
  padding: var(--s1);
  background-color: var(--clr-surface-container-low);
  text-align: center;
  color: var(--clr-on-surface);
}
.segmented-button__left:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.segmented-button__left:hover::after {
  background-color: var(--clr-on-surface);
}
.segmented-button__left:active::after {
  opacity: var(--state-press);
}

.segmented-button__middle {
  outline: none;
  border-radius: var(--s2);
  padding: var(--s1);
  background-color: var(--clr-surface-container-low);
  position: relative;
  isolation: isolate;
  text-align: center;
  color: var(--clr-on-surface);
}
.segmented-button__middle:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.segmented-button__middle:hover::after {
  background-color: var(--clr-on-surface);
}
.segmented-button__middle:active::after {
  opacity: var(--state-press);
}

.segmented-button__right {
  outline: none;
  border-radius: var(--s2);
  padding: var(--s1);
  background-color: var(--clr-surface-container-low);
  position: relative;
  isolation: isolate;
  text-align: center;
  color: var(--clr-on-surface);
}
.segmented-button__right:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.segmented-button__right:hover::after {
  background-color: var(--clr-on-surface);
}
.segmented-button__right:active::after {
  opacity: var(--state-press);
}

.segmented-button__active {
  background-color: var(--clr-secondary-container);
  color: var(--clr-on-secondary-container);
  border-radius: var(--s2);
}

.buttons-container {
  --min: 38ch;
  --gap: 0.8rem;
  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  margin-block-start: var(--block-flow-sm);
}

.cards-container {
  --min: 38ch;
  --gap: var(--s-1);
  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  margin-block-start: var(--block-flow-sm);
}

footer {
  grid-area: 4/1/5/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  padding: 12px 16px 12px 16px;
  margin-block-start: var(--block-flow-lg);
  background-color: var(--clr-surface-container);
  overflow: hidden;
}
@media screen and (min-width: 840px) {
  footer {
    grid-column: 2/13;
    grid-row: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    padding: 24px;
    overflow: hidden;
    border-radius: 0 0 0 0;
  }
}

.footer__sub-heading {
  color: var(--clr-on-surface-variant);
}

footer p {
  margin: 0px;
  color: var(--clr-on-surface-variant);
  padding: 0;
}

footer a {
  color: var(--clr-primary);
  text-decoration: underline;
}

footer a:hover {
  color: var(--clr-on-surface-variant);
}

footer path {
  fill: var(--clr-on-surface-variant);
}

footer a path {
  fill: var(--clr-primary);
}

footer a path:hover {
  fill: var(--clr-on-surface-variant);
}

.logo-footer {
  width: auto;
  height: var(--s3);
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 16px;
}
@media screen and (min-width: 840px) {
  .logo-footer {
    width: -moz-fit-content;
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0px;
  }
}

.contact-info {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 16px;
}
@media screen and (min-width: 840px) {
  .contact-info {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 0px;
  }
}

.whatsapp-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

footer svg {
  height: clamp(1.4rem, 0.25vw + 1.32rem, 1.6rem);
}

.email-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.social {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 840px) {
  .social {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

div.social h3 {
  padding: 0px;
  color: var(--clr-on-surface-variant);
}

.legal {
  grid-column-start: 1;
  grid-row-start: 3;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 840px) {
  .legal {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-left: 0;
  }
}

.legal h3 {
  padding: 0;
}

@media screen and (min-width: 840px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 2rem;
  }
  .grid + .grid {
    margin-top: 16px;
  }
}
.section__title {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-700);
}

body > *:not(body > header) + * {
  margin-block-start: var(--s3);
}

header > * + * {
  margin-block-start: var(--s3);
}

main > * + * {
  margin-block-start: var(--s3);
}

section > * + * {
  margin-block-start: var(--s1);
}

.window-header {
  position: sticky;
  top: 0;
  background-color: var(--clr-surface-container);
  z-index: 1;
}

.top-app-bar {
  --fw: var(--fw-medium);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
.top-app-bar__sub-container {
  display: flex;
  align-items: center;
  gap: var(--s2);
}
.top-app-bar__menu {
  display: flex;
  align-items: center;
  gap: var(--s1);
  flex-wrap: wrap;
}
.top-app-bar__logo {
  width: auto;
  height: var(--s3);
}
.top-app-bar__label {
  font-weight: var(--fw);
}
.top-app-bar .top-app-bar__label > a {
  text-decoration: none;
}
.top-app-bar__fab-container {
  display: flex;
  gap: var(--s-1);
  align-items: flex-end;
}
@media screen and (max-width: 839px) {
  .top-app-bar__fab-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    flex-direction: column;
  }
}

#sidebar {
  position: fixed;
  width: 360px;
  height: 100vh;
  background-color: #F3F3FA;
  border-radius: 0px 16px 16px 0px;
  padding: 28px 12px 16px 12px;
  left: -360px;
  transition: 0.3s;
  color: #46464f;
}

#sidebar.active {
  left: 0;
}

#sidebar a:visited {
  color: inherit;
}

.headline-container {
  display: flex;
  width: 336px;
  height: 24px;
  border-radius: 28px;
  padding: 0px 24px 0px 16px;
  gap: 12px;
  margin-bottom: 16px;
  align-items: center;
}

.toggle-btn {
  cursor: pointer;
  border-radius: 28px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.toggle-btn:hover {
  background-color: #E3E1F1;
  text-decoration: none;
}

.modal-navigation-drawer-logo {
  height: 24px;
}

.active-indicator {
  display: flex;
  width: 336px;
  height: 56px;
  border-radius: 28px;
  padding: 0px 24px 0px 16px;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.active-indicator:hover {
  background-color: #E3E1F1;
  text-decoration: none;
}

.active {
  background-color: #D9E3F9;
  color: #002107;
}

.modal-navigation-drawer-label {
  color: #46464f;
  font-weight: var(--fw-medium);
}

.navigation-rail {
  width: 80px;
  height: 100vh;
  background-color: #F9F9FF;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  padding: 12px 8px;
  border-right: 1px solid #e3e1ec;
  align-items: center;
}

.navigation-rail a {
  text-decoration: none;
}

.nav-rail-logo {
  margin: 0px 12px;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: auto;
}

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-surface-container-highest);
  color: var(--clr-on-surface);
  height: 56px;
  border-radius: 16px;
  width: 56px;
  border: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
}
.fab:link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: var(--state-hover);
  transition: all 250ms;
}
.fab:hover::after {
  background-color: var(--clr-on-surface);
}
.fab:active::after {
  opacity: var(--state-press);
}

.fab svg {
  fill: var(--clr-on-surface);
  width: auto;
  height: var(--s1);
}

.nav-rail-book-now {
  text-align: center;
}

.nav-rail-destinations {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-rail-icon-label-container {
  display: flex;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  color: #46464f;
}

.nav-rail-active-indicator {
  width: 56px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-rail-active-indicator:hover {
  background-color: #E3E1F1;
  border-radius: 16px;
}

.active {
  background-color: #D9E3F9;
  color: #002107;
  border-radius: 28px;
}

.nav-rail-label {
  color: #46464f;
  font-weight: var(--fw-medium);
  text-align: center;
}

@media screen and (max-width: 839px) {
  .navigation-rail {
    display: none;
  }
}
@media screen and (min-width: 1239px) {
  .navigation-rail {
    display: none;
  }
}

.standard-navigation-drawer {
  position: fixed;
  width: 360px;
  height: 100vh;
  background-color: #F9F9FF;
  padding: 28px;
  transition: 0.3s;
  color: #46464f;
  border-right: 1px solid #e3e1ec;
}

.active-indicator {
  width: 100%;
}

.standard-nav-drawer-logo {
  height: 24px;
  margin: 0px 16px 16px 16px;
}

@media screen and (min-width: 1240px) {
  .standard-navigation-drawer .extended-fab-container {
    position: static;
    justify-content: flex-start;
    margin: 16px 0px 16px 0px;
  }
}

.standard-navigation-drawer .extended-fab {
  display: flex;
  width: 100%;
  box-shadow: none;
}

.standard-navigation-drawer .active-indicator path {
  fill: #46464f;
}

.standard-navigation-drawer-label {
  color: #46464f;
  font: 500 clamp(1.4rem, 0.3vw + 1.3rem, 1.9rem)/clamp(1.6rem, 0.3vw + 1.5rem, 2rem) Barlow, sans-serif;
}

.standard-navigation-drawer .active path {
  fill: #002107;
}

.standard-navigation-drawer .active .standard-navigation-drawer-label {
  color: #002107;
}

@media screen and (max-width: 1239px) {
  .standard-navigation-drawer {
    display: none;
  }
}

.hero__wrapper {
  width: calc(100vw - var(--padding) * 2);
  margin-inline: auto;
  margin-block-start: var(--block-flow-lg);
}
.hero__grid-layout {
  display: grid;
  gap: var(--s-1);
}
.hero__grid-layout--intrinsic-cols {
  grid-template-columns: repeat(auto-fit, minmax(38ch, 1fr));
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--s1);
  justify-content: center;
  text-align: center;
  border-radius: var(--s1);
  padding: var(--s1);
}
.hero__title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-700);
}
.hero__supporting-text {
  font-size: var(--fs-400);
}
.hero__image {
  border-radius: var(--s1);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  inline-size: 100%;
  background-color: #405F90;
}

.main-header {
  width: 100%;
  aspect-ratio: 16/10;
}

.main-header picture {
  grid-area: 1/1/2/2;
}

.header-content {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/3/2;
  text-align: center;
  margin: 0 var(--base-spacing);
  row-gap: var(--base-spacing);*/
}
@media screen and (min-width: 600px) {
  .header-content {
    grid-area: 1/1/2/2;
    margin: 24px;
  }
}
@media screen and (min-width: 840px) {
  .header-content {
    grid-area: 1/1/2/2;
    margin: 24px;
    width: 61.8%;
  }
}
@media screen and (min-width: 1440px) {
  .header-content {
    grid-area: 1/2/2/4;
    width: 61.8%;
  }
}

.header-content h1, .header-content p {
  color: #191C20;
}
@media screen and (min-width: 600px) {
  .header-content h1, .header-content p {
    color: #ffffff;
  }
}

.map {
  width: 100%;
}

.how-to-find-me__directions-grid-layout {
  display: grid;
  grid-template-columns: [icon-start body-start] auto [icon-end title-start] 1fr [title-end body-end];
  grid-template-rows: [icon-start title-start] auto [icon-end title-end body-start] auto [body-end];
  gap: var(--s-4) var(--s0);
  align-items: center;
}
.how-to-find-me__icon {
  grid-area: icon;
  height: var(--s1);
  width: auto;
}
.how-to-find-me__title {
  grid-area: title;
}
.how-to-find-me__body {
  grid-area: body;
}

.clinic-opening-times__clinic-room-image {
  border-radius: var(--s1);
}

/*.sports-therapy-main-header {
    @extend .main-header;
}

.sports-therapy-main-header-picture {
    @extend .main-header-picture;

    @media screen and (min-width: 1440px) {
        grid-area: 1/1/2/2;
    }
}

.sports-therapy-header-content {
    @extend .header-content;

    @media screen and (min-width: 1440px) {
        grid-area: 1/1/2/2;
        width: 61.8%
    }
}*/
.sports-therapy-main-content {
  grid-area: 2/1/3/2;
}
@media screen and (min-width: 840px) {
  .sports-therapy-main-content {
    grid-area: 2/1/3/12;
  }
}

@media screen and (min-width: 600px) {
  .first-para {
    font: 500 clamp(1.9rem, 0.6vw + 1.7rem, 2.9rem)/clamp(2rem, 0.5vw + 1.8rem, 2.8rem) Barlow, sans-serif;
  }
}

.sports-therapy-main-content-footer {
  display: grid;
  width: 100%;
  grid-template: auto/1fr;
  gap: 8px;
}
@media screen and (min-width: 840px) {
  .sports-therapy-main-content-footer {
    grid-template: auto/repeat(2, 1fr);
  }
}

.why-emeskay-main-content {
  grid-area: 2/1/3/2;
}
@media screen and (min-width: 840px) {
  .why-emeskay-main-content {
    grid-area: 2/1/3/12;
  }
}

.why-emeskay-main-content-footer {
  grid-area: 3/1/4/2;
  display: grid;
  width: 100%;
  grid-template: auto/repeat(2, 1fr);
  -moz-column-gap: 8px;
       column-gap: 8px;
}
@media screen and (min-width: 840px) {
  .why-emeskay-main-content-footer {
    grid-area: 3/1/4/12;
  }
}/*# sourceMappingURL=style.css.map */