@use '../base/typography' as *;
@use '../base/utilities' as *;
@use '../components/lists' as *;
@use '../layout/header';
@use '../layout/footer';

.window#contact {
  display: grid;
  grid-template-columns: minmax(320px, 599px);
  grid-template-rows: auto;
  gap: 16px;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-template-columns: minmax(600px, 839px);
      gap: 24px;
  }

  @media screen and (min-width: 840px) {
      grid-template-columns: minmax(80px, 1fr) repeat(11, 1fr);
      margin: 0;
      padding-right: 24px;
  }
}

.contact-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.pane#contact-pane {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.clinic-room-picture {
  @media screen and (min-width: 840px) {
    grid-column: 6/12;
    grid-row: 1/2;
    margin: 0;
    border-radius: 28px;
  }
}

.clinic-room-image {
  border-radius: $medium-shape;
  aspect-ratio: 16 / 9;
  height: auto;
  object-fit: cover;
  width: 100%;
  margin-bottom: 8px;
}

.contact-heading {
   margin: 0px 16px;
}

.contact-heading > h1 {
  margin-bottom: 8px;
}

div.title-card h1, div.title-card p{
    color: $on-primary;
    margin: 0px;
    padding: 0px 8px;
    color: $on-surface-variant;
}

.contact-info-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-info-header {
  margin: 0px 16px;
}

.contact-info-address-card-container {
  margin: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-cards h3, .contact-cards p {
  padding: 0;
}

div.card-container {
  display: flex;
    flex-direction: column;
    gap: 8px;
}

.address-card {
    border-radius: $medium-shape;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
    background-color: $surface-container-highest;
    padding: 16px;
}

.phone-card, .email-card{
    padding: 16px;
    border-radius: $medium-shape;
    background-color: $surface-container-highest;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
    color: $on-surface-variant;
}

.address-card h3, .phone-card h3, .email-card h3 {
  margin-bottom: 8px;
}

.how-to-find-me {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.how-to-find-me-section-header {
  margin: 0px 16px;
}


.direction-cards-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#by-car-container {
  background-color: $surface-container-highest;
  padding: 16px;
  border-radius: $medium-shape;
}

#by-tram-container {
  background-color: $surface-container-highest;
  padding: 16px;
  border-radius: $medium-shape;
}

#by-train-container {
  background-color: $surface-container-highest;
  padding: 16px;
  border-radius: $medium-shape;
}

#by-bike-container {
  background-color: $surface-container-highest;
  padding: 16px;
  border-radius: $medium-shape;
}

.icon-h3-container {
  display: flex;
  margin: 0;
  gap: 16px;
  align-items: center;
}

.how-to-find-me > h3 {
  margin: 0px 16px;
}

#when-you-arrive-container {
  background-color: $surface-container-highest;
  border-radius: $medium-shape;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.when-you-arrive-header {
  margin: 16px 16px 0px 16px;
}

.when-you-arrive-header > p {
  margin: 0;
}

.walk-through {
    border-radius: $medium-shape;
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.hours-section-header {
  margin: 0px 16px;
}

@include two-line-list;