@use '../base/typography' as *;
@use '../base/utilities' as *;
@use '../components/lists' as *;
@use '../layout/header';
@use '../layout/footer';

.contact-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.clinic-room-image {
  border-radius: $medium-shape;
  aspect-ratio: 16 / 9;
  height: auto;
  object-fit: cover;
  width: 100%;
  margin-bottom: 8px;
}

.contact-heading {
   margin: 0px 16px;
}

.contact-heading > h1 {
  margin-bottom: 8px;
}

div.title-card h1, div.title-card p{
    color: $on-primary;
    margin: 0px;
    padding: 0px 8px;
    color: $on-surface-variant;
}

.contact-contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-info-address-card-container {
  margin: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-cards h3, .contact-cards p {
  padding: 0;
}

.address-card {
    border-radius: $medium-shape;
    background-color: $surface;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
    background-color: $surface-container;
    padding: 16px;
}

.phone-card, .email-card{
    padding: 16px;
    border-radius: $medium-shape;
    background-color: $surface-container;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
    color: $on-surface-variant;
}

.address-card h3, .phone-card h3, .email-card h3 {
  margin-bottom: 8px;
}

.how-to-find-me {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.how-to-find-me h2, .how-to-find-me p {
  margin: 0px 16px;
}

.icon-h3-container {
  display: flex;
  margin: 0px 16px;
  gap: 16px;
  align-items: center;
}

.how-to-find-me > h3, {
  margin: 0px 16px;
}

#when-you-arrive-container {
  background-color: $surface-container-highest;
  border-radius: $medium-shape;

  grid-column: 1/11;
  display: grid;
  gap: 24px;
  grid-row: 6/7;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
}

.when-you-arrive-header {
  grid-column: 6/12;
    grid-row: 1/2;
}

.when-you-arrive-header > p {
  margin: 0;
}

.walk-through {
    border-radius: $medium-shape;
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.hours > h2, .hours > p {
  margin: 0px 16px;
}

@include two-line-list;