@use '../base/utilities' as *;
@use '../layout/header';
@use '../layout/footer';

//Hero

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    height: calc(100vh - 88px);
    padding: 0px 16px;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    border-radius: $extra-large-shape;
    margin: 0px 0px 16px 0px;
  }

  .heading {
    padding: 0;
    color: $surface;
  }

  .subheading {
    margin: 0;
    padding: 0;
    color: $surface;
  }

//Intro
.intro {
    margin-bottom: 16px;
}

//Services



section.services h2, .services h3 {
    font-family: $heading;
    padding: 0px $compact-padding;
    margin: 0px 0px 8px 0px;
}

/*.services-card {
    background-color: $surface-container;
    color: $on-surface-variant;
    border-radius: 24px;
    margin-bottom: 24px;
    padding: 8px;
}*/

div.services-card p {
    margin: 16px;
    font-family: $copy;
    color: $on-surface-variant;
}

.rehab-card {
    
    background-color: $surface-container-highest;
    border-radius: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.injury-rehab-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 8px;
}

div.rehab-card h3 {
    color: $on-surface;
}

div.rehab-card p {
    margin: 0px $compact-margin-horizontal 16px $compact-margin-horizontal;
    color: $on-surface;
}

.rehab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 0px 0px 0px 16px;
}

.rehab-book {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border: none;
    background-color: $secondary-container;
}

button.rehab-book label {
    font-family: $copy;
    font-size: 14px;
    color: $on-secondary-container;
}

.rehab-learn {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border-width: 1px;
    border-color: $outline;
    background-color: $surface;
}

button.rehab-learn label {
    font-family: $copy;
    font-size: 14px;
    color: $primary;
}

/* Injury Prevention Card */

.prehab-card {
    background-color: $surface-container-highest;
    border-radius: 24px;
    padding-bottom: 16px;
}

.injury-prehab-image {

    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 8px;
}

div.prehab-card h3 {
    color: $on-surface;
    margin-bottom: 8px;
}

div.prehab-card p {
    margin: 0px $compact-margin-horizontal 16px 16px;
    color: $on-surface;
}

.prehab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 0px 0px 0px 16px;
}

.prehab-book {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border: none;
    background-color: $secondary-container;
}

button.prehab-book label {
    font-family: $copy;
    font-size: 14px;
    color: $on-secondary-container;
}

.prehab-learn {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border-width: 1px;
    border-color: $outline;
    background-color: $surface;
}

button.prehab-learn label {
    font-family: $copy;
    font-size: 14px;
    color: $primary;
}

//Testimonials

.testimonials {
    margin: 0px 0px 24px 0px;
    padding: 0px 0px 0px 8px;
    color: $on-surface-variant;
}

section.testimonials h2 {
    font-family: $heading;
    color: $on-surface;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 16px;
}

.slider {
    /* line them up horizontally */
    display: flex;
  
    /* allow for scrolling */
    overflow-x: auto;
  
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
  }
  .slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    background-color: $surface-container-highest;
    margin-right: 8px;
    padding: 16px;
    border-radius: 12px;
    
  }

  div.slider h3 {
    margin: 8px 0px 8px 0px;
    padding: 0px;
    font-family: $heading;
  }

  div.slider p {
    margin: 8px 0px 0px 0px;
    padding: 0px;
    font-family: $copy;
  }

  .testimonial-images {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  //Partners

  .partners {
    padding: 0px 8px;
    margin: 0px 0px 24px 0px;
}

section.partners h2 {
    font-family: $heading;
    color: $on-surface;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 16px;
}

.sto-card {
    background-color: $surface-container-highest;
    border-radius: 12px;
    width: 100%;
    padding-bottom: 16px;
}

div.sto-card p {
    font-family: $copy;
    color: $on-surface;
    margin: 0px;
    padding: 0px 16px;
}

.sto-logo-container {
    display: flex;
    justify-content: center;
    background-color: $surface;
    border-radius: 12px;
    border: 1px solid $outline;
    margin-bottom: 8px;
    padding: 8px;
    aspect-ratio: 16/9;
}

.sto-logo {
    max-width: 286px; 
    object-fit: scale-down;
}

//Map

.map {
    margin-bottom: $compact-margin-vertical;
    padding: 0px 8px;
}

.map-heading {
    font-family: $heading;
    margin: 0px 0px 8px 0px;
    padding: 0px 16px;
}

.google-map {

    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 24px;
    
}