@use '../base/utilities' as *;
@use '../layout/header';
@use '../layout/footer';

//Hero

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    height: calc(100vh - 80px);
    padding: 0px 16px;
    background-image: url(../images/hero/hero-compact.jpeg);
    background-size: cover;
    border-radius: $large-shape;
    margin: 0px 0px 16px 0px;
    gap: 8px;
}

.heading {
    padding: 0;
    color: $surface;
}

.subheading {
    margin: 0;
    padding: 0;
    color: $surface;
}

//Intro
.intro {
    margin: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

//Services
.services {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.rehab-card {  
    background-color: $surface-container-highest;
    border-radius: $medium-shape;
}

.rehab-card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: $medium-shape;
}

.content-container {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rehab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.rehab-book {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border: none;
    background-color: $secondary-container;
}

button.rehab-book label {
    color: $on-secondary-container;
}

.rehab-learn {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border-width: 1px;
    border-color: $outline;
    background-color: $surface;
}

button.rehab-learn label {
    color: $primary;
}

/* Injury Prevention Card */

.prehab-card {
    background-color: $surface-container-highest;
    border-radius: $medium-shape;
}

.injury-prehab-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: $medium-shape;
}

.prehab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.prehab-book {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border: none;
    background-color: $secondary-container;
}

button.prehab-book label {
    color: $on-secondary-container;
}

.prehab-learn {
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    border-width: 1px;
    border-color: $outline;
    background-color: $surface;
}

button.prehab-learn label {
    color: $primary;
}

//Testimonials

.testimonials {
    margin: 0px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimonials h2 {
    margin-left: 16px;
}

.slider {
    /* line them up horizontally */
    display: flex;
    gap: 8px;
  
    /* allow for scrolling */
    overflow-x: auto;
  
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
}

.slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    background-color: $surface-container-highest;
    padding: 16px;
    border-radius: $medium-shape;
}

div.slider p {
    margin: 8px 0px 0px 0px;
    padding: 0px;
}

.img-name-stars-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.name-stars-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimonial-images {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    aspect-ratio: 1/1;
  object-fit: cover;
}

//Partners

.partners {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px 0px 16px 0px;
}

section.partners h2 {
    padding: 0px 0px 0px 16px;
}

.sto-card {
    background-color: $surface-container-highest;
    border-radius: $medium-shape;
    width: 100%;
}

.sto-content {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sto-logo-wrapper {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: $medium-shape;
    border: 1px solid $outline;
    padding: 8px;
    aspect-ratio: 16/9;
}

.sto-logo {
   max-width: 100%;
    aspect-ratio: 16/9;
  object-fit: cover;
}

//Map

.home-map {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.map-heading {
    margin: 0px 16px;
}

.google-map {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: $medium-shape;
  object-fit: cover;
    
}