@use '../normalize.css';
@use '../base/reset';
@use '../base/typography' as *;
@use '../base/utilities' as *;
@use '../components/lists' as *;
@use '../layout/header';
@use '../layout/footer';

hr {
  border: 0;
  border-top: 1px solid $surface-variant;
  width:100%;
}

.hr-1 {
  grid-area: 2/1/3/2;

  @media screen and (min-width: 840px) {
      grid-area: 2/1/3/12;
  }
}

.hr-2 {
  grid-area: 4/1/5/2;

  @media screen and (min-width: 840px) {
      grid-area: 4/1/5/12;
  }
}

.window#contact {
  display: grid;
  grid-template-columns: minmax(320px, 599px);
  grid-template-rows: auto;
  row-gap: 16px;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-template-columns: minmax(600px, 839px);
      row-gap: 24px;
  }

  @media screen and (min-width: 840px) {
      grid-template-columns: 80px repeat(11, 1fr);
      row-gap: 24px;
      margin: 0;
  }

  @media screen and (min-width: 1240px){
      grid-template: auto/360px 1fr;
  }
}

main.body-region {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 16px;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      margin: 0px 24px;
      gap: 24px;
  }

  @media screen and (min-width: 840px) {
      grid-area: 1/2/2/13;
      margin: 12px 24px 0px 24px;
      grid-template-columns: repeat(11, 1fr);
      gap: 24px;
  }
}

.main-header {
  grid-area: 1/1/2/2;
  width: 100%;
  aspect-ratio: 16/10;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  align-items: stretch;
  text-align: center;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-template-rows: repeat(5, auto);
  }

  @media screen and (min-width: 840px) {
      grid-area: 1/1/2/12;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr repeat(2, auto);
  }

  @media screen and (min-width: 1360px) {
      grid-template-columns: 24px repeat(2, 1fr) 24px;
      grid-template-rows: 1fr repeat(2, auto) 24px;
  }
}

.main-header picture {
  grid-area: 1/1/2/2;

  @media screen and (min-width: 600px) {
      filter: brightness(0.75);
      z-index: -1;
      
  }

  @media screen and (min-width: 840px) {
      grid-area: 1/1/2/3;
  }

  @media screen and (min-width: 1360px) {
      grid-area: 1/1/5/5;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/3/2;
  gap: 8px;
  margin: 16px;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-area: 1/1/2/2;
      margin: 24px;
  }

  @media screen and (min-width: 840px) {
      grid-area: 1/1/2/3;
      margin: 24px;
      width: 61.8%
  }

  @media screen and (min-width: 1360px) {
      grid-area: 1/2/2/4;
      width: 61.8%
  }
}

p {
  max-width: 60ch;
}

.header-content h1, .header-content p {
  color: $on-surface;

  @media screen and (min-width: 600px) {
      color: $on-primary;
  }
}

.header-content h1 {
  font: $h1-compact;
}

.header-content p {
  font: $p-compact;

  @media screen and (min-width: 600px) {
      font: $p-compact;
  }

  @media screen and (min-width: 840px) {
      font: $p-expanded;
  }
}

.main-header h3 {
  font: $h3-compact;
}

h2 {
  font: $h2-compact;

  @media screen and (min-width: 600px) {
      font: $h2-compact;
  }
}


.card {
  border-radius: $medium-shape;
  background-color: $surface-container-highest;
  color: $on-surface;
  height: auto;
  width: 100%;
  font: $body-large;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  transition: 0.3s;
  
}

.main-header .card {
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1360px) {
      filter: drop-shadow(0 0 1px #000000);
      background-color: $surface-container-low;
  }
}

.card:hover {
  text-decoration: none;
  filter: drop-shadow(0 0 1px #000000);
}

.main-header .card:hover {
  @media screen and (min-width: 1360px) {
      filter: drop-shadow(0 0 3px #000000);
  }
}

.card:active {
  filter: drop-shadow(0 0 0 #000000);
}

.address-card {
  grid-area: 3/1/4/2;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-area: 2/1/3/2;
  }

  @media screen and (min-width: 840px) {
      grid-area: 2/1/3/2;
      justify-self: end;
  }

  @media screen and (min-width: 1360px) {
      grid-area: 2/2/3/3;
  }
}

.phone-card {
  grid-area: 4/1/5/2;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-area: 3/1/4/2;
  }

  @media screen and (min-width: 840px) {
      grid-area: 2/2/3/3;
      justify-self: start;
  }

  @media screen and (min-width: 1360px) {
      grid-area: 2/3/3/4;
  }
}

.email-card {
  grid-area: 5/1/6/2;

  @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-area: 4/1/5/2;
  }

  @media screen and (min-width: 840px) {
      grid-area: 3/1/4/2;
      justify-self: end;
  }

  @media screen and (min-width: 1360px) {
      grid-area: 3/2/4/3;
  }
}

.callback-card {
  grid-area: 6/1/7/2;

  @media screen and (min-width: 600px) and (max-width: 839px) {
    grid-area: 5/1/6/2;
}

  @media screen and (min-width: 840px) {
    grid-area: 3/2/4/3;
    justify-self: start;
}

@media screen and (min-width: 1360px) {
  grid-area: 3/3/4/4;
}
}

.section-picture {
  aspect-ratio: 16/10;
  object-fit: cover;
  inline-size: 100%;
  
  background-color: $primary;
  border-radius: $medium-shape;
}

section.how-to-find-me {
  grid-area: 3/1/4/2;
  display: grid;
  grid-template: auto / 1fr;
  gap: 16px;

    @media screen and (min-width: 600px) {
        gap: 24px;
    }

    @media screen and (min-width: 840px) {
        grid-area: 3/1/4/12;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content 1fr;
        justify-items: end;
    } 
}

.how-to-find-me-section-header {
  margin: 0px 16px;
  grid-area: 2/1/3/2;

  @media screen and (min-width: 840px) {
    grid-area: 1/1/2/2;
  }
}

.how-to-find-me iframe {
  grid-area: 1/1/2/2;

  @media screen and (min-width: 840px) {
    grid-area: 1/2/3/3;
  }
}


.how-to-find-me-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 16px 0px 16px;

  @media screen and (min-width: 840px) {
    grid-area: 2/1/3/2;
  }
}

.how-to-find-me-content div {
  display: grid;
  grid-template: auto / auto 1fr;
  row-gap: 8px;
  column-gap: 16px;
}

.how-to-find-me-content div p {
  grid-area: 2/1/3/3;
}

.how-to-find-me > h3 {
  margin: 0px 16px;
}

#when-you-arrive-container {
  background-color: $surface-container-highest;
  border-radius: $medium-shape;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 840px) {
    grid-area: 3/1/4/2;
  }
}

.when-you-arrive-header {
  margin: 0px 16px 16px 16px;
}

.when-you-arrive-header > p {
  margin: 0;
}

.walk-through {
    border-radius: $medium-shape;
}

section.hours {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-area: 5/1/6/2;

    display: grid;
    grid-template: auto / 1fr;
    gap: 16px;

    @media screen and (min-width: 840px) {
        grid-area: 5/1/6/12;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content 1fr;
        gap: 24px;
    } 
}

.hours-section-header {
  margin: 0px 16px;
  grid-area: 2/1/3/2;
}

.hours picture {
  grid-area: 1/1/2/2;

  @media screen and (min-width: 840px) {
    grid-area: 1/2/4/3;
  }
}

.hours ul {
  grid-area: 3/1/4/2;
}

@include two-line-list;