@use '../normalize.css';
@use '../base/reset';
@use '../base/typography' as *;
@use '../base/utilities' as *;
@use '../layout/header';
@use '../layout/footer';

#start-here .main-header {
    border-radius: $medium-shape;
    background-color: $primary;
    padding: 16px;
    width: 100%;
    aspect-ratio: 16/9;
    
}

#start-here .main-header hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-here .main-header h1, #start-here .main-header p {
    color: $on-primary;
}

#start-here .main-header h1 {
    font: $display-small;
}

#start-here .main-header p {
    font: $body-medium;
}

#start-here .card {
    border-radius: $medium-shape;
    background-color: $surface-container;
    padding: 16px;
    width: 100%;
    height: auto;
}

.section-picture {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: $primary;
    border-radius: $medium-shape;
    margin: 16px 0;
}