@use '../normalize.css';
@use '../base/reset';
@use '../base/typography' as *;
@use '../base/utilities' as *;
@use '../layout/header';
@use '../layout/footer';

hr {
    border: 0;
    border-top: 1px solid $surface-variant;
    width:100%;
}

.hr-1 {
    grid-area: 2/1/3/2;

    @media screen and (min-width: 840px) {
        grid-area: 2/1/3/12;
    }
}

.hr-2 {
    grid-area: 4/1/5/2;

    @media screen and (min-width: 840px) {
        grid-area: 4/1/5/12;
    }
}

.hr-3 {
    grid-area: 6/1/7/2;

    @media screen and (min-width: 840px) {
        grid-area: 6/1/7/12;
    }
}

.hr-4 {
    grid-area: 8/1/9/2;

    @media screen and (min-width: 840px) {
        grid-area: 8/1/9/12;
    }
}

.window#start-here {
    display: grid;
    grid-template-columns: minmax(320px, 599px);
    grid-template-rows: auto;
    gap: 16px;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        grid-template-columns: minmax(600px, 839px);
        gap: 24px;
    }

    @media screen and (min-width: 840px) {
        grid-template-columns: minmax(80px, 1fr) repeat(11, 1fr);
        margin: 0;
        padding-right: 24px;
        gap: 24px;
    }
}

main.body-region {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        margin: 0px 24px;
        gap: 24px;
    }

    @media screen and (min-width: 840px) {
        grid-area: 1/2/2/13;
        margin: 12px 0px 0px 0px;
        grid-template-columns: repeat(11, 1fr);
        gap: 24px;
    }
}

.main-header {
    grid-area: 1/1/2/2;
    width: 100%;
    aspect-ratio: 16/10;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    align-items: stretch;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        grid-template-rows: repeat(5, auto);
    }

    @media screen and (min-width: 840px) {
        grid-area: 1/1/2/12;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr repeat(2, auto);
    }

    @media screen and (min-width: 1360px) {
        grid-template-columns: 24px repeat(2, 1fr) 24px;
        grid-template-rows: 1fr repeat(2, auto) 24px;
    }
}

.main-header p {
    text-align: center;
}

.main-header picture {
    grid-area: 1/1/2/2;

    @media screen and (min-width: 600px) {
        filter: brightness(0.75);
        z-index: -1;
        
    }

    @media screen and (min-width: 840px) {
        grid-area: 1/1/2/3;
    }

    @media screen and (min-width: 1360px) {
        grid-area: 1/1/5/5;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 2/1/3/2;
    gap: 8px;
    margin: 16px;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        grid-area: 1/1/2/2;
        margin: 24px;
    }

    @media screen and (min-width: 840px) {
        grid-area: 1/1/2/3;
        margin: 24px;
        width: 61.8%
    }

    @media screen and (min-width: 1360px) {
        grid-area: 1/2/2/4;
        width: 61.8%
    }
}

p {
    max-width: 60ch;
}

.header-content h1, .header-content p {
    color: $on-surface;

    @media screen and (min-width: 600px) {
        color: $on-primary;
    }
}

.header-content h1 {
    font: $h1-compact;
}

.header-content p {
    font: $p-compact;

    @media screen and (min-width: 600px) {
        font: $p-compact;
    }

    @media screen and (min-width: 840px) {
        font: $p-expanded;
    }
}

.main-header h3 {
    font: $h3-compact;
}

h2 {
    font: $h2-compact;

    @media screen and (min-width: 600px) {
        font: $h2-compact;
    }
}


.card {
    border-radius: $medium-shape;
    background-color: $surface-container-highest;
    color: $on-surface;
    height: auto;
    width: 100%;
    max-width: calc(60ch + 32px);
    font: $body-large;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    transition: 0.3s;
    
}

.main-header .card {
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: $secondary-container;
    color: $on-secondary-container;
    text-decoration: none;
}

.card:active {
    border-radius: $extra-large-shape;
    border: 8px solid $secondary;
}

.where-does-it-hurt-card {
    grid-area: 3/1/4/2;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        grid-area: 2/1/3/2;
    }

    @media screen and (min-width: 840px) {
        grid-area: 2/1/3/2;
        justify-self: end;
    }

    @media screen and (min-width: 1360px) {
        grid-area: 2/2/3/3;
    }
}

.conditions-i-treat-card {
    grid-area: 4/1/5/2;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        grid-area: 3/1/4/2;
    }

    @media screen and (min-width: 840px) {
        grid-area: 2/2/3/3;
        justify-self: start;
    }

    @media screen and (min-width: 1360px) {
        grid-area: 2/3/3/4;
    }
}

.what-is-sports-therapy-card {
    grid-area: 5/1/6/2;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        grid-area: 4/1/5/2;
    }

    @media screen and (min-width: 840px) {
        grid-area: 3/1/4/2;
        justify-self: end;
    }

    @media screen and (min-width: 1360px) {
        grid-area: 3/2/4/3;
    }
}

.how-i-treat-card {
    grid-area: 6/1/7/2;

    @media screen and (min-width: 600px) and (max-width: 839px) {
        grid-area: 5/1/6/2;
    }

    @media screen and (min-width: 840px) {
        grid-area: 3/2/4/3;
        justify-self: start;
    }

    @media screen and (min-width: 1360px) {
        grid-area: 3/3/4/4;
    }
}

section {
    align-items: start;
}

section header {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.where-does-it-hurt {
    grid-area: 3/1/4/2;

    display: grid;
    grid-template: auto / 1fr;
    gap: 16px;

    @media screen and (min-width: 840px) {
        grid-area: 3/1/4/12;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content 1fr;
        gap: 24px;
        justify-items: end;
    } 
}

.where-does-it-hurt header {
    grid-area: 2/1/3/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/1/2/2;
    }
}

.section-picture {
    aspect-ratio: 16/10;
    object-fit: cover;
    inline-size: 100%;
    
    background-color: $primary;
    border-radius: $medium-shape;
}

.where-does-it-hurt picture {
    grid-area: 1/1/2/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/2/3/3;
    }
}

.where-does-it-hurt .card {
    grid-area: 3/1/4/2;

    @media screen and (min-width: 840px) {
        grid-area: 2/1/3/2;
        height: fit-content;
    }
}

.conditions-i-treat {
    grid-area: 5/1/6/2;
    display: grid;
    grid-template: auto / 1fr;
    gap: 16px;

    @media screen and (min-width: 840px) {
        grid-area: 5/1/6/12;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content 1fr;
        gap: 24px;
    } 
}

.conditions-i-treat header {
    grid-area: 2/1/3/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/2/2/3;
    }
}

.conditions-i-treat .section-picture {
    grid-area: 1/1/2/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/1/3/2;
    }
}

.conditions-i-treat .card {
    grid-area: 3/1/4/2;

    @media screen and (min-width: 840px) {
        grid-area: 2/2/3/3;
        height: fit-content;
    }
}

.what-is-sports-therapy {
    grid-area: 7/1/8/2;
    display: grid;
    grid-template: auto / 1fr;
    gap: 16px;

    @media screen and (min-width: 840px) {
        grid-area: 7/1/8/12;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content 1fr;
        gap: 24px;
        justify-items: end;
    } 
}

.what-is-sports-therapy header {
    grid-area: 2/1/3/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/1/2/2;
    }
}

.what-is-sports-therapy .section-picture {
    grid-area: 1/1/2/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/2/3/3;
    }
}

.what-is-sports-therapy .card {
    grid-area: 3/1/4/2;
    height: fit-content;

    @media screen and (min-width: 840px) {
        grid-area: 2/1/3/2;
    }
}

.how-i-treat {
    grid-area: 9/1/10/2;
    display: grid;
    grid-template: auto / 1fr;
    gap: 16px;

    @media screen and (min-width: 840px) {
        grid-area: 9/1/10/12;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content 1fr;
        gap: 24px;
    } 
}

.how-i-treat header {
    grid-area: 2/1/3/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/2/2/3;
    }
}

.how-i-treat .section-picture {
    grid-area: 1/1/2/2;

    @media screen and (min-width: 840px) {
        grid-area: 1/1/3/2;
    }
}

.how-i-treat-cards {
    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 840px) {
        grid-area: 2/2/3/3;
    }
}