@use '../base/typography' as *;
@use '../base/utilities' as *;
@use '../components/cards' as *;
@use '../components/lists' as *;

.map {
  width: 100%
}

.how-to-find-me {
  &__directions-grid-layout {
    display: grid;
    grid-template-columns: [icon-start body-start] auto [icon-end title-start] 1fr [title-end body-end];
    grid-template-rows: [icon-start title-start] auto [icon-end title-end body-start] auto [body-end];
    gap: var(--s-4) var(--s0);
    align-items: center;
  }

  &__icon {
    grid-area: icon;
    height: var(--s1);
    width: auto;
  }

  &__title {
    grid-area: title;
  }

  &__body {
    grid-area: body;
  }
}

.clinic-opening-times {
  &__clinic-room-image {
    border-radius: var(--s1);
  }
}