@use '../base/_typography.scss' as *;
@use '../base/_utilities.scss' as *;

@mixin elevated-card {
    .elevated-card {
    border-radius: $medium-shape;
    filter: drop-shadow(0 0 1px #000000);
    background-color: $surface-container-low;
    color: $on-surface;
    height: auto;
    width: 100%;
    gap: 8px;
    padding: 16px;
    transition: 0.3s;
    align-items: center;
    display: grid;
    grid-template: auto/max-content 1fr;
    row-gap: 8px;
    column-gap: 16px;
    justify-items: start;
    align-content: start;
}

    .elevated-card svg {
        grid-area: 1/1/2/2;
        height: 2.4rem;
        width: 2.4rem;
    }

    .elevated-card path {
        fill: $on-surface;
    }

    .elevated-card h3 {
        grid-area: 1/2/2/3;
    }

    .elevated-card p {
        grid-area: 2/1/3/3;
    }

    .elevated-card:hover {
        text-decoration: none;
        filter: drop-shadow(0 0 3px #000000);
        background-color: $primary-container;

        path {
            fill: $on-primary-container;
        }

        h3 {
            color: $on-primary-container;
        }

        p {
            color: $on-primary-container;
        }
        }

    .elevated-card:active {
        filter: drop-shadow(0 0 0 #000000);
    }
}

@mixin filled-card {
    .filled-card {
        border-radius: $medium-shape;
        background-color: $surface-container-highest;
        color: $on-surface;
        height: auto;
        width: 100%;
        gap: 8px;
        padding: 16px;
        transition: 0.3s;
        align-items: center;
        display: grid;
        grid-template: auto/max-content 1fr;
        row-gap: 8px;
        column-gap: 16px;
        justify-items: start;
        align-content: start;
        cursor: pointer;
    }
    
        .filled-card svg {
            grid-area: 1/1/2/2;
            height: 2.4rem;
            width: 2.4rem;
        }
    
        .filled-card path {
            fill: $on-surface;
        }
    
        .filled-card h3 {
            grid-area: 1/2/2/3;
        }
    
        .filled-card p {
            grid-area: 2/1/3/3;
        }
    
        .filled-card:hover {
            text-decoration: none;
            filter: drop-shadow(0 0 1px #000000);
            background-color: $primary-container;

            path {
                fill: $on-primary-container;
            }
    
            h3 {
                color: $on-primary-container;
            }
    
            p {
                color: $on-primary-container;
            }
        }
    
        .filled-card:active {
            filter: drop-shadow(0 0 0 #000000);
        }
}

@mixin card-container {
    .card-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}





