@use '../base/typography' as *;
@use '../base/utilities' as *;

@mixin navigation-rail {    
    .navigation-rail {
        width: 80px;
        height: 100vh;
        background-color: $surface;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: fixed;
        padding-top: 12px;
        border-right: 1px solid $surface-variant;
        
    }

    .navigation-rail a {
        text-decoration: none;
    }

    .nav-rail-logo {
        margin: 0px 12px;
    max-inline-size: 100%;
    block-size: auto;
        
    }

    .fab {
        display: flex;
        justify-content: center;
        align-items: center;
        Background-color: $primary-container;
        color: white;
        height: 56px;
        border-radius: 16px;
        width: 56px;
        margin: 0px 12px;
        border: none;
        cursor: pointer;
        
    }

    .fab svg {
        fill: $on-primary-container;
    }

    .nav-rail-book-now {
        text-align: center;
    }

    .nav-rail-destinations {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .nav-rail-icon-label-container {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 56px;
        gap: 4px;
        align-items: center;
        cursor: pointer;
        color: $on-surface-variant;
    }

    .nav-rail-active-indicator {
        width: 56px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-rail-active-indicator:hover {
        background-color: $surface-container-highest;
        border-radius: 16px;
    }
    
    .active {
        background-color: $secondary-container;
        color: $on-secondary-container;
        border-radius: 16px;
    }
    
    .nav-rail-label {
        color: $on-surface-variant;
        font: $label-large;
    }
}