@use '../base/utilities' as *;
@use '../base/typography' as *;
@use '../components/extended-fab' as *;

@mixin standard-navigation-drawer {
.standard-navigation-drawer {
    position: fixed;
    width: 360px;
    height: 100vh;
    background-color: $surface;
    padding: 28px;
    transition: 0.3s;
    color: $on-surface-variant;
    border-right: 1px solid $surface-variant;
}

.active-indicator {
    width: 100%;
    
}

.standard-nav-drawer-logo {
    height: 24px;
    margin: 0px 16px 16px 16px;
}

@include extended-fab;

.standard-navigation-drawer .extended-fab-container {
    @media screen and (min-width: 1240px) {
        position: static;
        justify-content: flex-start;
        margin: 16px 0px 16px 0px;
    }
}

.standard-navigation-drawer .extended-fab {
    display: flex;
    width: 100%;
    box-shadow: none;
}

.standard-navigation-drawer .active-indicator path {
    fill: $on-surface-variant;
}

.standard-navigation-drawer-label {
    color: $on-surface-variant;
    font: $label;
}

.standard-navigation-drawer .active path {
    fill: $on-secondary-container;
}

.standard-navigation-drawer .active .standard-navigation-drawer-label {
    color: $on-secondary-container;
}

}