@use '../base/_typography.scss' as *;
@use '../base/_utilities.scss' as *;

@mixin text-card {
    .text-card {
    border-radius: $medium-shape;
    background-color: $surface-container-highest;
    color: $on-surface;
    height: auto;
    width: 100%;
    gap: 8px;
    padding: 16px;
    transition: 0.3s;
    align-items: center;
    display: grid;
    grid-template: auto/max-content 1fr;
    row-gap: 8px;
    column-gap: 16px;
    justify-items: start;
    align-content: start;
    }

    .text-card svg {
        grid-area: 1/1/2/2;
    }

    .text-card h3 {
        grid-area: 1/2/2/3;
        font: $h3-compact;
    }

    .text-card p {
        grid-area: 2/1/3/3;
        font: $p-compact;
    }

    .text-card:hover {
        text-decoration: none;
        filter: drop-shadow(0 0 1px #000000);
    }

    .text-card:active {
        filter: drop-shadow(0 0 0 #000000);
    }
}