@use '../base/typography' as *;
@use '../base/utilities' as *;

footer {
    grid-area: 4/1/5/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    padding: 12px 16px 12px 16px;
    margin-block-start: var(--block-flow-lg);
    background-color: var(--clr-surface-container);
    overflow: hidden;

    @media screen and (min-width: 840px) {
        grid-column: 2 / 13;
        grid-row: auto;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        gap: 24px;
        padding: 24px;
        overflow: hidden;
        border-radius: 0 0 0 0;
    }
}

.footer__sub-heading {
    color: var(--clr-on-surface-variant);
}

footer p {
    margin: 0px;
    color: var(--clr-on-surface-variant);
    padding: 0;
}

footer a {
    color: var(--clr-primary);
    text-decoration: underline;
}

footer a:hover {
    color: var(--clr-on-surface-variant);
}

footer path {
    fill: var(--clr-on-surface-variant);
}

footer a path {
    fill: var(--clr-primary);
}

footer a path:hover {
    fill: var(--clr-on-surface-variant);
}

.logo-footer {
    width: auto;
    height: var(--s3);
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 16px;

    @media screen and (min-width: 840px) {
        width: fit-content;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0px;
    }
}

.contact-info {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 16px;

    @media screen and (min-width: 840px) {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-left: 0px;
    }    
}

.whatsapp-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

footer svg {
    height: clamp(1.4rem, 0.25vw + 1.32rem, 1.6rem);
}

.email-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.social {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 840px) {
        grid-column-start: 2;
        grid-row-start: 2;
    }    
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

div.social h3 {
    padding: 0px;
    color: var(--clr-on-surface-variant);
}

.legal {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 840px) {
        grid-column-start: 3;
        grid-row-start: 2;
        margin-left: 0;
    }       
}

.legal h3 {
    padding: 0;
}