@use '../base/typography' as *;
@use '../base/utilities' as *;
@use '../abstracts/' as *;

$minColWidth: 40ch;
$gridGap: 16px;

@media screen and (min-width: 840px) {
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
  gap: 2rem;

  & + .grid {
    margin-top: $gridGap;
  }
}
}

.section {
  &__title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-700);
  }
}

body > *:not(body > header, .membership) + * {
  margin-block-start: var(--s3);
}

header > * + *:not(.membership) {
  margin-block-start: var(--s3);
}

main > * + *:not(.membership) {
  margin-block-start: var(--s3);
}

section > * + * {
  margin-block-start: var(--s1);
}

//Layout Grid Wrapper


:root {
  --padding: 1.5rem;
  --grid-gap: 1rem;
  --min-col-width: 40ch;
}

.smol-css-grid {
  --min: 40ch;
  --gap: var(--layout-gap-sm);

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}