@use '../components/top-app-bar' as *;
@use '../components/modal-navigation-drawer' as *;
@use '../components/extended-fab' as *;
@use '../components/navigation-rail' as *;
@use '../components/standard-navigation-drawer' as *;

.window-header {
    position: sticky;
    top: 0;
    background-color: var(--clr-surface-container);
    z-index: 1;
}

.top-app-bar {
    --fw: var(--fw-medium);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: center;

    &__sub-container {
        display: flex;
        align-items: center;
        gap: var(--s2);
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: var(--s1);
        flex-wrap: wrap;
    }

    &__logo {
        width: auto;
        height: var(--s3);
    }

    &__label {
        font-weight: var(--fw);
    }

    .top-app-bar__label > a {
        text-decoration: none;
    }

    &__fab-container {
        display: flex;
        gap: var(--s-1);
        align-items: flex-end;
        min-width: fit-content;

        @media screen and (max-width: 839px) {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        flex-direction: column;
        
        }
    }
}



@include modal-navigation-drawer;



@include navigation-rail;

.navigation-rail {
    @media screen and (max-width: 839px) {
        display: none;
    }

    @media screen and (min-width: 1239px) {
        display: none;
    }
}

@include standard-navigation-drawer;

.standard-navigation-drawer {
    @media screen and (max-width: 1239px) {
        display: none;
    }
}

//@include extended-fab;

