@use '../components/navigation-rail' as *;
@use '../base/utilities' as *;
@use '../base/typography' as *;

@mixin expanded {
    
  
  body {
      display: grid;
      grid-template-columns: minmax(80px, 1fr) repeat(11, 1fr);
      grid-template-rows: auto;
      gap: 24px;
      margin: 0;
      padding-right: 24px;
    }

  

  header.window-header {
     
      grid-column: 1/2;
    grid-row: 1/3;
    height: auto;

    
    }

  nav.navigation {
      @include navigation-rail;
    }

  .top-app-bar, .extended-fab-container {
      display: none;
    }

    /* Home page */
  
  div.pane {
    margin-top: 12px;
  }

  header.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 24px;
    gap: 0;
    margin: 0;
  }

  section.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 0px 24px;
  }

  section.intro > h2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  section.intro > p {
    grid-column: 1/2;
  }

  section.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0;
  }

  div.content-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0px 24px;
  }

  div.rehab-card {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  div.rehab-card .content-container, div.prehab-card .content-container {
    margin: 24px;
  }

  div.prehab-card {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  section.testimonials {
    margin: 0;
  }

  section.partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0;
  }

  section.partners > h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0px 24px;
  }

  div.sto-card {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  div.sto-content {
    margin: 24px;
  }

  section.home-map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0;
  }

  h2.map-heading {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  section.home-map .google-map {
    border: 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  section.home-map > h2 {
    margin: 0px 24px;
  }

    /* Contact page */

    main.body-region {
      
    grid-column: 2 / 13;
    grid-row: auto;

      margin: 0;
      
    }

    div.pane {
      display: flex;
    flex-direction: column;
    gap: 24px;
    }

    header.pane-header {
      margin-top: 12px;
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 8px;
    }

    hgroup.contact-heading {
      background-color: #006a6a;
      border-radius: 28px;
      grid-column: 1 / 6;
      grid-row: 1 / 2;
      display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin: 0;
    padding: 24px;
    }

    .contact-heading > h1, .contact-heading > p {
      
      color: $on-primary;
    }

    .contact-heading > h1 {
      font: $display-small;
    }

    .clinic-room-image {
      grid-column: 6 / 12;
      grid-row: 1 / 2;
    margin: 0;
    border-radius: 28px;
    }

    .contact-info-section {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: auto;
      gap: 24px;
    }

    .contact-info-header {
      grid-column: 1 / 12;
    grid-row: 1 / 2;
    margin: 0px 0px 0px 24px;
    }

    div.card-container {
      display: grid;
    grid-template-rows: auto;
    grid-column: 1/11;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 2/3;
    gap: 8px;
    }

    

    .address-card {
      grid-column: 1/2;
    grid-row: 1/2;
    }

    .phone-card {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .email-card {
      grid-column: 1/2;
      grid-row: 2/3;
    }



    .how-to-find-me {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, auto);
      gap: 24px;
    }

    .how-to-find-me-section-header {
      grid-column: 1 / 6;
    grid-row: 1 / 2;
    
    }

    .how-to-find-me > .google-map {
      grid-column: 1/6;
    grid-row: 2/3;
    border: 0;
    }

    .direction-cards-container {
      display: grid;
    grid-template-rows: auto;
    grid-column: 1/11;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 3/4;
    gap: 8px;
    }

    #by-car-container {
      grid-column: 1/2;
    grid-row: 1/2;
    }

    #by-tram-container {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    #by-train-container {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    #by-bike-container {
      grid-column: 2/3;
    grid-row: 2/3;
    }

    #when-you-arrive-container {
      grid-column: 1/6;
    grid-row: 5/6;
    gap: 0;
    grid-template-columns: repeat(5, 1fr);
    }

    .when-you-arrive-header {
      grid-column: 1/6;
    grid-row: 1/2;
      padding: 16px;
    }

    #when-you-arrive-header > p {
      margin: 0;
    }

    .walk-through {
      grid-column: 1/6;
    grid-row: 2/3;
    }

    .hours {
      display: grid;
    
    grid-template-rows: auto;
    

    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    }

    .hours-section-header {
      
    grid-row: 1 / 2;

    grid-column: 1/2;
    
    }

    .two-line-list {
      grid-column: 1/2;
      grid-row: 2 / 3;
    }

    /* Footer */

    footer {
      grid-column: 2 / 13;
      grid-row: auto;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    padding: 24px;
    overflow: hidden;

    border-radius: 28px;
    margin-bottom: 12px;
    }

    .logo-footer {
      width: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0px;
    }

    .contact-info {
      grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 0px;
    }

    .social {
      grid-column-start: 2;
      grid-row-start: 2;
    }

    .legal {
      grid-column-start: 3;
    grid-row-start: 2;
    margin-left: 0;
    }
}