@use 'utilities';
@use 'typography';

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
    }

    



body {
   background-color: utilities.$surface;
  }

h1 {
  font: typography.$display-medium;
  color: utilities.$on-surface;
  margin: 0px 0px 8px 0px;
  padding: 0px 16px;
}

h2 {
  font: typography.$headline-large;
  color: utilities.$on-surface;
  margin: 0px 0px 8px 0px;
  padding: 0px 16px;
}

h3 {
  font: typography.$headline-small;
  color: utilities.$on-surface;
  margin: 0px 0px 8px 0px;
  padding: 0px 16px;
}

p {
  font: typography.$body-large;
  color: utilities.$on-surface;
  margin: 0px 0px 8px 0px;
  padding: 0px 16px;
}

a {
  font: typography.$body-large;
  color: utilities.$primary;
  text-decoration: none;
  margin: 0;
  padding: 0;
}









/*@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: auto 599px auto;
  }

  .page {
    grid-column-start: 2;
  }
}*/