@use 'utilities' as *;
@use 'typography' as *;

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
    }

body {
  background-color: $surface;
  }



main {
  margin: 0px 16px;
}

h1 {
  font: $display-medium;
  color: $on-surface;
  margin: 0;
  padding: 0;
}

h2 {
  font: $headline-large;
  color: $on-surface;
  margin: 0;
  padding: 0;
}

h3 {
  font: $headline-small;
  color: $on-surface;
  margin: 0;
  padding: 0;
}

p {
  font: $body-large;
  color: $on-surface;
  margin: 0;
  padding: 0;
}

a {
  font: $body-large;
  color: $primary;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: underline;
  color: $on-primary-container
}

hr {
  margin: 0;
  border: 0;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1 fr;
  }

  main {
    margin: 0px 24px;
  }
}

@media (min-width: 840px) {
  body {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    column-gap: 24px;
  }

 
}