/*@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url('../../MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2') format('woff2');
  }*/

  @font-face {
    font-family: 'Barlow';
    src: url('../../Barlow-Regular.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow Condensed';
    src: url('../../BarlowCondensed-Regular.ttf') format('truetype');
    font-display: swap;
  }


/*@mixin material-symbols {
  .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}*/

/* h1 */
$h1-compact-size: clamp(3.48rem, 2.56vw + 2.67rem, 7.58rem);
$h1-compact-line-height: 1;
$h1-compact-font: 'Barlow Condensed', sans-serif;
$h1-compact: #{$h1-compact-size}/#{$h1-compact-line-height} #{$h1-compact-font};

$h1-medium-size: 2.441rem;
$h1-medium-line-height: 1;
$h1-medium-font: 'Barlow Condensed', sans-serif;
$h1-medium: #{$h1-medium-size}/#{$h1-medium-line-height} #{$h1-medium-font};

$h1-expanded-size: 3.157rem;
$h1-expanded-line-height: 1;
$h1-expanded-font: 'Barlow Condensed', sans-serif;
$h1-expanded: #{$h1-expanded-size}/#{$h1-expanded-line-height} #{$h1-expanded-font};

$h2-compact-size: clamp(2.9rem, 1.74vw + 2.35rem, 5.68rem);
$h2-compact-line-height: 1.2;
$h2-compact-font: 'Barlow Condensed', sans-serif;
$h2-compact: #{$h2-compact-size}/#{$h2-compact-line-height} #{$h2-compact-font};

$h3-compact-size: clamp(2.42rem, 1.15vw + 2.05rem, 4.26rem);
$h3-compact-line-height: 1.3;
$h3-compact-font: 'Barlow Condensed', sans-serif;
$h3-compact: #{$h3-compact-size}/#{$h3-compact-line-height} #{$h3-compact-font};

$p-compact-size: clamp(1.68rem, 0.45vw + 1.54rem, 2.4rem);
$p-compact-line-height: 1.6;
$p-compact-font: 'Barlow', sans-serif;
$p-compact: #{$p-compact-size}/#{$p-compact-line-height} #{$p-compact-font};

$p-expanded-size: 1.618rem;
$p-expanded-line-height: 1.3;
$p-expanded-font: 'Barlow', sans-serif;
$p-expanded: #{$p-expanded-size}/#{$p-expanded-line-height} #{$p-expanded-font};



/*--font-size-small-body: clamp(1.4rem, 0.25vw + 1.32rem, 1.8rem);
--font-size-body: clamp(1.68rem, 0.45vw + 1.54rem, 2.4rem);
--font-size-h4: clamp(2.02rem, 0.74vw + 1.78rem, 3.2rem);
--font-size-h3: clamp(2.42rem, 1.15vw + 2.05rem, 4.26rem);
--font-size-h2: clamp(2.9rem, 1.74vw + 2.35rem, 5.68rem);
--font-size-h1: clamp(3.48rem, 2.56vw + 2.67rem, 7.58rem);*/






/* Display Large */
$display-large-size: 57px;
$display-large-line-height: 1;
$display-large-font: 'Barlow Condensed', sans-serif;
$display-large: #{$display-large-size}/#{$display-large-line-height} #{$display-large-font};

/* Display Medium */
$display-medium-size: 45px;
$display-medium-line-height: 1;
$display-medium-font: 'Barlow Condensed', sans-serif;
$display-medium: #{$display-medium-size}/#{$display-medium-line-height} #{$display-medium-font};

/* Display Small */
$display-small-size: 36px;
$display-small-line-height: 1;
$display-small-font: 'Barlow Condensed', sans-serif;
$display-small: #{$display-small-size}/#{$display-small-line-height} #{$display-small-font};

/* h2 */
$headline-large-size: 32px;
$headline-large-line-heaight: 1.1;
$headline-large-font: 'Barlow Condensed', sans-serif;
$headline-large: #{$headline-large-size}/#{$headline-large-line-heaight} #{$headline-large-font};

/* h3 */
$headline-small-size: 24px;
$headline-small-line-heaight: 1.2;
$headline-small-font: 'Barlow Condensed', sans-serif;
$headline-small: #{$headline-small-size}/#{$headline-small-line-heaight} #{$headline-small-font};

/* p */
$body-large-size: 16px;
$body-large-line-height: 1.3;
$body-large-font: 'Barlow', sans-serif;
$body-large: #{$body-large-size}/#{$body-large-line-height} #{$body-large-font};

// .supporting-text
$body-medium-size: 14px;
$body-medium-line-height: 1.3;
$body-medium-font: 'Barlow', sans-serif;
$body-medium: #{$body-medium-size}/#{$body-medium-line-height} #{$body-medium-font};

/* title */
$title-large-size: 22px;
$title-large-line-height: 1.2;
$title-large-font: 'Barlow', sans-serif;
$title-large: #{$title-large-size}/#{$title-large-line-height} #{$title-large-font};

/* label */
$label-large-size: 14px;
$label-large-line-height: 1.4;
$label-large-font: 'Barlow', sans-serif;
$label-large: #{$label-large-size}/#{$label-large-line-height} #{$label-large-font};

