//@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url(../../MaterialSymbolsRounded[FILL\,GRAD\,opsz\,wght].woff2) format('woff2');
  }

@mixin material-symbols {
  .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}

/* Display Large */
$display-large-size: 57px;
$display-large-line-height: 1;
$display-large-font: 'Barlow Condensed', sans-serif;
$display-large: #{$display-large-size}/#{$display-large-line-height} #{$display-large-font};

/* Display Medium */
$display-medium-size: 45px;
$display-medium-line-height: 1;
$display-medium-font: 'Barlow Condensed', sans-serif;
$display-medium: #{$display-medium-size}/#{$display-medium-line-height} #{$display-medium-font};

/* Display Small */
$display-small-size: 36px;
$display-small-line-height: 1;
$display-small-font: 'Barlow Condensed', sans-serif;
$display-small: #{$display-small-size}/#{$display-small-line-height} #{$display-small-font};

/* h2 */
$headline-large-size: 32px;
$headline-large-line-heaight: 1.1;
$headline-large-font: 'Barlow Condensed', sans-serif;
$headline-large: #{$headline-large-size}/#{$headline-large-line-heaight} #{$headline-large-font};

/* h3 */
$headline-small-size: 24px;
$headline-small-line-heaight: 1.2;
$headline-small-font: 'Barlow Condensed', sans-serif;
$headline-small: #{$headline-small-size}/#{$headline-small-line-heaight} #{$headline-small-font};

/* p */
$body-large-size: 16px;
$body-large-line-height: 1.3;
$body-large-font: 'Barlow', sans-serif;
$body-large: #{$body-large-size}/#{$body-large-line-height} #{$body-large-font};

// .supporting-text
$body-medium-size: 14px;
$body-medium-line-height: 1.3;
$body-medium-font: 'Barlow', sans-serif;
$body-medium: #{$body-medium-size}/#{$body-medium-line-height} #{$body-medium-font};

/* title */
$title-large-size: 22px;
$title-large-line-height: 1.2;
$title-large-font: 'Barlow', sans-serif;
$title-large: #{$title-large-size}/#{$title-large-line-height} #{$title-large-font};

/* label */
$label-large-size: 14px;
$label-large-line-height: 1.4;
$label-large-font: 'Barlow', sans-serif;
$label-large: #{$label-large-size}/#{$label-large-line-height} #{$label-large-font};