//Colour
/*$primary: #006a6a;
$on-primary: #ffffff;
$primary-container: #6ff7f6;
$on-primary-container: #002020;*/

$primary: #3851d0;
$on-primary: #ffffff;
$primary-container: #dee0ff;
$on-primary-container: #00105b;

/*$secondary: #aa3527;
$on-secondary: #ffffff;
$secondary-container: #ffdad4;
$on-secondary-container: #410000;*/

$secondary: #006b5e;
$on-secondary: #ffffff;
$secondary-container: #76f8e2;
$on-secondary-container: #00201b;

$tertiary: #295ea7;
$on-tertiary: #ffffff;
$tertiary-container: #d6e3ff;
$on-tertiary-container: #001b3e;

$error: #ba1a1a;
$on-error: #ffffff;
$error-container: #ffdad6;
$on-error-container: #410002;

$background: #f3feff;
$on-background: #002022;

/*$surface-dim: #d5dbda;
$surface: #f4fbfa;
$surface-bright: #f4fbfa;*/

$surface-dim: #919094;
$surface: #fbf8ff;
$surface-bright: #fbf8ff;

/*$surface-variant: #dae5e4;*/

$surface-variant: #e3e1ec;

/*$surface-container-lowest: #ffffff;
$surface-container-low: #eff5f4;
$surface-container: #e9efee;
$surface-container-high: #e3e9e9;
$surface-container-highest: #dde4e3;*/

$surface-container-lowest: #ffffff;
$surface-container-low: #f5f2fa;
$surface-container: #efedf4;
$surface-container-high: #e9e7ef;
$surface-container-highest: #e3e1e9;

/*$on-surface: #002022;
$on-surface-variant: #3f4948;*/

$on-surface: #001849;
$on-surface-variant: #46464f;

$outline: #6f7979;

//Shape
$medium-shape: 12px;
$large-shape: 16px;
$large-end-shape: 0px 16px 16px 0px;
$extra-large-shape: 28px;