//Colour
$primary: #006a6a;
$on-primary: #ffffff;
$primary-container: #6ff7f6;
$on-primary-container: #002020;

$secondary: #4a6363;
$on-secondary: #ffffff;
$secondary-container: #cce8e7;
$on-secondary-container: #051f1f;

$tertiary: #b22b1d;
$on-tertiary: #ffffff;
$tertiary-container: #ffdad4;
$on-tertiary-container: #410000;

$error: #ba1a1a;
$on-error: #ffffff;
$error-container: #ffdad6;
$on-error-container: #410002;

$background: #fafdfc;
$on-background: #191c1c;
$surface-dim: #e0e3e2;
$surface: #f7faf9;
$surface-brightest: #fafdfc;
$on-surface: #191c1c;

$surface-container-lowest: #ffffff;
$surface-container-low: #fafdfc;
$surface-container: #f7faf9;
$surface-container-high: #eff1f0;
$surface-container-highest: #e0e3e2;

$outline: #6f7979;
$surface-variant: #dae5e4;
$on-surface-variant: #3f4948;

$compact-margin-vertical: 24px;
$compact-margin-horizontal: 16px;

$compact-padding: 16px;

//Shape
$medium-shape: 12px;
$large-shape: 16px;
$large-end-shape: 0px 16px 16px 0px;
$extra-large-shape: 28px;