@use '../base/utilities' as *;
@use '../base/typography' as *;

//Base
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding: var(--s1);
    text-decoration: none;
    position: relative;
    isolation: isolate;
    font-weight: var(--fw-medium);
}
    
    //Filled
    .button--filled {
        background-color: var(--clr-primary);
        color: var(--clr-on-primary);

        &:link::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            opacity: var(--state-hover);
            transition: all 250ms;
        }

        &:hover::after {
            background-color: var(--clr-on-primary);
        }

        &:active::after {
            opacity: var(--state-press);
        }
    }

    //Tonal
    .button--tonal {
        background-color: var(--clr-secondary-container);
        color: var(--clr-on-secondary-container);

        &:link::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            opacity: var(--state-hover);
            transition: all 250ms;
        }

        &:hover::after {
            background-color: var(--clr-on-secondary-container);
        }

        &:active::after {
            opacity: var(--state-press);
        }
    }

    //Outlined
    .button--outlined {
        background-color: transparent;
        color: var(--clr-primary);
        border: solid 1px var(--clr-outline);

        &:link::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            opacity: var(--state-hover);
            transition: all 250ms;
        }

        &:hover::after {
            background-color: var(--clr-primary);
        }

        &:active::after {
            opacity: var(--state-press);
        }
    }