@use '../base/_typography.scss' as *;
@use '../base/_utilities.scss' as *;

//Base card style
.card {
    display: grid;
    border-radius: $medium-shape;
    
    gap: 8px;

    
    
    
    
    height: auto;
    width: 100%;
    gap: 8px;
    
    transition: 0.3s;
    align-items: center;
    display: grid;
    grid-template: auto/max-content 1fr;
    row-gap: 8px;
    column-gap: 16px;
    justify-items: start;
    align-content: start;

    .title {
        font: $headline-s;
        color: $on-surface;
    }

    .content {
        font: $body;
        color: $surface-container-highest;
    }
}

.filled-card {
        border-radius: $medium-shape;
        background-color: $surface-container-highest;
        color: $on-surface;
        height: auto;
        width: 100%;
        transition: 0.3s;
        align-items: center;
        display: grid;
        grid-template: auto/max-content 1fr;
        column-gap: 16px;
        justify-items: start;
        align-content: start;
        cursor: pointer;

        .img-name-stars-container {
            display: flex;
            gap: 16px;
            align-items: center;
            padding: 16px;
        }

        .title {
            font: $headline-s;
            color: $on-surface;
            grid-area: 2/2/2/3;
            margin-inline-end: 16px;
        }

        .content {
            grid-area: 3/1/4/3;
            padding: var(--base-spacing);
            color: $on-surface;
        }

        .image {
            object-fit: cover;

            aspect-ratio: 16/10;
            inline-size: 100%;
            border-radius: 12px;

            &--ahg {
                background-color: $primary;
                object-fit: contain;
                padding: var(--base-spacing);
            }

            &--sto {
                background-color: #ffffff;
                object-fit: contain;
                padding: var(--base-spacing);
            }

            &--balens {
                background-color: $primary;
                object-fit: contain;
                padding: var(--base-spacing);
            }
        }

        
    }

    

    
    
        .filled-card svg {
            grid-area: 1/1/2/2;
            height: 2.4rem;
            width: 2.4rem;
        }
    
        .filled-card path {
            fill: $on-surface;
        }
    
       
    
        .filled-card:hover {
            text-decoration: none;
            filter: drop-shadow(0 0 1px #000000);
            background-color: $primary-container;

            path {
                fill: $on-primary-container;
            }
    
            h3 {
                color: $on-primary-container;
            }
    
            p {
                color: $on-primary-container;
            }
        }
    
        .filled-card:active {
            filter: drop-shadow(0 0 0 #000000);
        }









