@use '../base/utilities' as *;
@use '../base/typography' as *;


    .extended-fab-container {
        display: flex;
        justify-content: flex-end;
        height: 56px;
        min-width: 80px;
        text-decoration: none;
        position: relative;
        isolation: isolate;
        background-color: var(--clr-primary-container);
        color: var(--clr-on-primary-container);
        border-radius: var(--s0);

        &:link::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            opacity: var(--state-hover);
            transition: all 250ms;
        }
    
        &:hover::after {
            background-color: var(--clr-on-primary-container);
        }
    
        &:active::after {
            opacity: var(--state-press);
        }
    }


.extended-fab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 56px;
    min-width: 80px;
    padding-left: 16px;
    padding-right: 24px;

    &__label {
        font-weight: var(--fw-medium);
    }

    & > svg {
        width: auto;
        height: var(--s1);
        fill: var(--clr-on-tertiary-container);
    }
}