@use '../base/utilities' as *;
@use '../base/typography' as *;

//Two Line List
    .list {
        & li {
            background-color: var(--clr-surface);
            height: 72px;
            padding: 8px 24px 8px 16px;
            display: flex;
            gap: var(--s0);
            align-items: center;
            
            color: var(--clr-on-surface);
        }

        &__leading-icon-container {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: var(--clr-primary);
            display: flex;
            justify-content: center;
            align-items: center;
            fill: var(--clr-on-primary);
        }

        &__divider {
            color: var(--clr-outline);
        }
    }