@use '../base/typography' as *;
@use '../base/utilities' as *;

@mixin navigation-rail {    
    .navigation-rail {
        width: 80px;
        height: 100vh;
        background-color: $surface;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: fixed;
        padding: 12px 8px;
        border-right: 1px solid $surface-variant;
        align-items: center;
        
    }

    .navigation-rail a {
        text-decoration: none;
    }

    .nav-rail-logo {
        margin: 0px 12px;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: auto;
        
    }

    .fab {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-surface-container-highest);
        color: var(--clr-on-surface);
        height: 56px;
        border-radius: 16px;
        width: 56px;
        border: none;
        cursor: pointer;
        position: relative;
        isolation: isolate;

        &:link::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            opacity: var(--state-hover);
            transition: all 250ms;
        }
    
        &:hover::after {
            background-color: var(--clr-on-surface);
        }
    
        &:active::after {
            opacity: var(--state-press);
        }
        
    }

    .fab svg {
        fill: var(--clr-on-surface);
        width: auto;
        height: var(--s1);
    }

    .nav-rail-book-now {
        text-align: center;
    }

    .nav-rail-destinations {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .nav-rail-icon-label-container {
        display: flex;
        flex-direction: column;
        height: min-content;
        gap: 4px;
        align-items: center;
        cursor: pointer;
        color: $on-surface-variant;
    }

    .nav-rail-active-indicator {
        width: 56px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-rail-active-indicator:hover {
        background-color: $surface-container-highest;
        border-radius: 16px;
    }
    
    .active {
        background-color: $secondary-container;
        color: $on-secondary-container;
        border-radius: 28px;
    }
    
    .nav-rail-label {
        color: $on-surface-variant;
        font-weight: var(--fw-medium);
        text-align: center;
    }
}