@use '../utilities';
@use '../base/typography';

#sidebar {
    position: fixed;
    width: 360px;
    height: 100%;
    background-color: utilities.$surface-variant;
    border-radius: 0px 16px 16px 0px;
    padding: 28px 12px 16px 12px;
    left: -360px;
    transition: 0.4s;
    color: utilities.$on-surface-variant;
}



#sidebar.active {
    left: 0;
}

#sidebar a:visited {
    color: inherit;
}



.headline-container {
    display: flex;
    width: 336px;
    height: 24px;
    border-radius: 28px;
    padding: 0px 24px 0px 16px;
    gap: 12px;
    margin-bottom: 16px;
}

.model-navigation-drawer-logo {
    height: 24px;
}

.active-indicator {
    display: flex;
    width: 336px;
    height: 56px;
    border-radius: 28px;
    padding: 0px 24px 0px 16px;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

.active {
    background-color: utilities.$secondary-container;
    color: utilities.$on-secondary-container
}

.active-indicator:hover {
    background-color: utilities.$tertiary-container;
    color: utilities.$on-tertiary-container;
}





.modal-navigation-drawer-label {
    color: utilities.$on-surface-variant;
    font-family: 'barlow', sans-serif;
    font-size: 18px;
}


/*#sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background-color: #000;
    display: block;
    margin-top: 4px;
}*/