@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');




html {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  line-height: 1.5;
}

h1, h2, h3, h4 {
  line-height: 1.1;
}

.primary-heading {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-800);
}

.secondary-heading {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-700);
}

.tertiary-heading {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-600);
}

@font-face {
    font-family: 'Barlow';
    src: url('../../Barlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('../../Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow Condensed';
    src: url('../../BarlowCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }





$headline-s-size: clamp(3.2rem, 0.7vw + 2.9rem, 4.3rem);
$headline-s-line-height: clamp(3.2rem, 0.5vw + 3rem, 4rem);
$headline-s-font: 'Barlow Condensed', sans-serif;
$headline-s: #{$headline-s-size}/#{$headline-s-line-height} #{$headline-s-font};

.headline-s {
  font: $headline-s;
  
}

$headline-size: clamp(3.7rem, 0.7vw + 3.4rem, 4.8rem);
$headline-line-height: clamp(3.2rem, 0.5vw + 3rem, 4rem);
$headline-font: 'Barlow Condensed', sans-serif;
$headline: #{$headline-size}/#{$headline-line-height} #{$headline-font};

.headline {
  font: $headline;
  
}

$title-font-weight: 500;
$title-size: clamp(1.9rem, 0.6vw + 1.7rem, 2.9rem);
$title-line-height: clamp(2rem, 0.5vw + 1.8rem, 2.8rem);
$title-font: 'Barlow', sans-serif;
$title: #{$title-font-weight} #{$title-size}/#{$title-line-height} #{$title-font};

.title {
  font: $title;
  
}


$body-size: clamp(1.6rem, 0.3vw + 1.5rem, 2.1rem);
$body-line-height: clamp(1.6rem, 0.5vw + 1.4rem, 2.4rem);
$body-font: 'Barlow', sans-serif;
$body: #{$body-size}/#{$body-line-height} #{$body-font};

.body {
  font: $body;
}

$label-font-weight: 500;
$label-size: clamp(1.4rem, 0.3vw + 1.3rem, 1.9rem);
$label-line-height: clamp(1.6rem, 0.3vw + 1.5rem, 2rem);
$label-font: 'Barlow', sans-serif;
$label: #{$label-font-weight} #{$label-size}/#{$label-line-height} #{$label-font};

.label {
  font: $label;
  
}