:root {
  accent-color: var(--clr-tertiary);
}

input, textarea {
  caret-color: var(--clr-tertiary);
}

//Colour
/*$primary: #006a6a;
$on-primary: #ffffff;
$primary-container: #6ff7f6;
$on-primary-container: #002020;*/

$primary: #405F90;
$primary-dark: #bac3ff;
$primary-hover: #3851d014;
$primary-active: #3851d01a;
$on-primary: #ffffff;
$on-primary-hover: #ffffff14;
$on-primary-active: #ffffff1a;
$primary-container: #D6E3FF;
$primary-container-dark: #1735b8;
$on-primary-container: #001B3D;

/*$secondary: #aa3527;
$on-secondary: #ffffff;
$secondary-container: #ffdad4;
$on-secondary-container: #410000;*/

$secondary: #38693C;
$on-secondary: #ffffff;
$secondary-container: #D9E3F9;
$on-secondary-container: #002107;
$on-secondary-container-hover: #00201b14;
$on-secondary-container-active: #00201b1a;

$tertiary: #865319;
$on-tertiary: #ffffff;
$tertiary-container: #FFDCBF;
$on-tertiary-container: #2D1600;

$error: #ba1a1a;
$on-error: #ffffff;
$error-container: #ffdad6;
$on-error-container: #410002;

$background: #fefbff;
$on-background: #001849;

/*$surface-dim: #d5dbda;
$surface: #f4fbfa;
$surface-bright: #f4fbfa;*/

$surface-dim: #dbd9e0;
$surface: #F9F9FF;
$surface-bright: #fbf8ff;

/*$surface-variant: #dae5e4;*/

$surface-variant: #e3e1ec;

/*$surface-container-lowest: #ffffff;
$surface-container-low: #eff5f4;
$surface-container: #e9efee;
$surface-container-high: #e3e9e9;
$surface-container-highest: #dde4e3;*/

$surface-container-lowest: #ffffff;
$surface-container-low: #F3F3FA;
$surface-container: #EDEDF4;
$surface-container-high: #e9e7ef;
$surface-container-highest: #E3E1F1;

/*$on-surface: #002022;
$on-surface-variant: #3f4948;*/

$on-surface: #191C20;
$on-surface-variant: #46464f;

$outline: #767680;

//Shape
$medium-shape: 12px;
$large-shape: 16px;
$large-end-shape: 0px 16px 16px 0px;
$extra-large-shape: 28px;

.container {
    width: min(100vw - 3.2rem, 80ch);
    margin-inline: auto;
  }


main > *:not(header, .smol-css-grid) {
    width: min(100% - 3.2rem, 240ch);
    margin-inline: auto; 
}

[class^='stack'] > * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: 0;
}

.stack-lg > * + * {
  margin-block-start: var(--s3);
}

.stack-sm > * + * {
  margin-block-start: var(--s1);
}



/*main *:is(h1, h2, h3, p):not(.b-card *) {
    margin-block-start: 1em;
}*/

header .container:has(h1) {
    text-align: center;
}



  /*main *:not(:is(.main-header, .section-picture)) {
    margin-block-start: var(--block-flow-md);
  }

  .main-header > * {
    margin-block-start: var(--block-flow-md);
  }*/

  .link {
    color: var(--clr-primary);
  }

  .image-tint {
    position: relative;
    isolation: isolate;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--s1);
      background-color: var(--clr-primary);
      opacity: 0.1;
  }
  }

  