:root {
  --clr-primary: #07677f;
  --clr-surface-tint: rgb(7 103 127);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: #b7eaff;
  --clr-on-primary-container: rgb(0 31 40);
  --clr-secondary: rgb(76 98 106);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: #d0e7f1;
  --clr-on-secondary-container: #071f27;
  --clr-tertiary: rgb(90 92 126);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(224 224 255);
  --clr-on-tertiary-container: rgb(23 25 55);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(245 250 253);
  --clr-on-background: rgb(23 28 31);
  --clr-surface: rgb(245 250 253);
  --clr-on-surface: rgb(23 28 31);
  --clr-surface-variant: rgb(219 228 232);
  --clr-on-surface-variant: rgb(64 72 76);
  --clr-outline: rgb(112 120 124);
  --clr-outline-variant: rgb(191 200 204);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(44 49 52);
  --clr-inverse-on-surface: rgb(237 241 244);
  --clr-inverse-primary: rgb(136 209 236);
  --clr-primary-fixed: rgb(183 234 255);
  --clr-on-primary-fixed: rgb(0 31 40);
  --clr-primary-fixed-dim: rgb(136 209 236);
  --clr-on-primary-fixed-variant: rgb(0 78 97);
  --clr-secondary-fixed: rgb(207 230 241);
  --clr-on-secondary-fixed: rgb(7 30 38);
  --clr-secondary-fixed-dim: rgb(179 202 212);
  --clr-on-secondary-fixed-variant: rgb(52 74 82);
  --clr-tertiary-fixed: rgb(224 224 255);
  --clr-on-tertiary-fixed: rgb(23 25 55);
  --clr-tertiary-fixed-dim: rgb(195 195 235);
  --clr-on-tertiary-fixed-variant: rgb(66 68 101);
  --clr-surface-dim: rgb(214 219 222);
  --clr-surface-bright: rgb(245 250 253);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(239 244 247);
  --clr-surface-container: rgb(234 239 241);
  --clr-surface-container-high: rgb(228 233 236);
  --clr-surface-container-highest: rgb(222 227 230);


  /*--clr-primary: rgb(0 1 195);
  --clr-surface-tint: rgb(52 61 255);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(45 54 255);
  --clr-on-primary-container: rgb(255 255 255);
  --clr-secondary: rgb(76 83 184);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(155 161 255);
  --clr-on-secondary-container: rgb(0 0 118);
  --clr-tertiary: rgb(97 0 120);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(146 33 175);
  --clr-on-tertiary-container: rgb(255 255 255);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(251 248 255);
  --clr-on-background: rgb(26 27 38);
  --clr-surface: rgb(251 248 255);
  --clr-on-surface: rgb(26 27 38);
  --clr-surface-variant: rgb(226 224 247);
  --clr-on-surface-variant: rgb(69 69 88);
  --clr-outline: rgb(117 117 137);
  --clr-outline-variant: rgb(197 196 219);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(47 47 59);
  --clr-inverse-on-surface: rgb(241 239 255);
  --clr-inverse-primary: rgb(190 194 255);
  --clr-primary-fixed: rgb(224 224 255);
  --clr-on-primary-fixed: rgb(0 0 110);
  --clr-primary-fixed-dim: rgb(190 194 255);
  --clr-on-primary-fixed-variant: rgb(0 0 239);
  --clr-secondary-fixed: rgb(224 224 255);
  --clr-on-secondary-fixed: rgb(0 0 110);
  --clr-secondary-fixed-dim: rgb(190 194 255);
  --clr-on-secondary-fixed-variant: rgb(51 58 159);
  --clr-tertiary-fixed: rgb(253 214 255);
  --clr-on-tertiary-fixed: rgb(52 0 66);
  --clr-tertiary-fixed-dim: rgb(244 174 255);
  --clr-on-tertiary-fixed-variant: rgb(121 0 149);
  --clr-surface-dim: rgb(218 216 232);
  --clr-surface-bright: rgb(251 248 255);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(245 242 255);
  --clr-surface-container: rgb(238 236 252);
  --clr-surface-container-high: rgb(232 230 246);
  --clr-surface-container-highest: rgb(227 225 241);*/


  //yellow
  /*--clr-primary: rgb(97 97 24);
  --clr-surface-tint: rgb(97 97 24);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(232 231 143);
  --clr-on-primary-container: rgb(29 29 0);
  --clr-secondary: rgb(96 96 67);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(231 228 191);
  --clr-on-secondary-container: rgb(29 29 6);
  --clr-tertiary: rgb(61 102 87);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(191 236 216);
  --clr-on-tertiary-container: rgb(0 33 23);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(253 249 236);
  --clr-on-background: rgb(28 28 20);
  --clr-surface: rgb(253 249 236);
  --clr-on-surface: rgb(28 28 20);
  --clr-surface-variant: rgb(230 227 209);
  --clr-on-surface-variant: rgb(72 71 58);
  --clr-outline: rgb(121 120 105);
  --clr-outline-variant: rgb(202 199 182);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(49 49 40);
  --clr-inverse-on-surface: rgb(244 241 227);
  --clr-inverse-primary: rgb(203 203 118);
  --clr-primary-fixed: rgb(232 231 143);
  --clr-on-primary-fixed: rgb(29 29 0);
  --clr-primary-fixed-dim: rgb(203 203 118);
  --clr-on-primary-fixed-variant: rgb(73 73 0);
  --clr-secondary-fixed: rgb(231 228 191);
  --clr-on-secondary-fixed: rgb(29 29 6);
  --clr-secondary-fixed-dim: rgb(202 200 165);
  --clr-on-secondary-fixed-variant: rgb(73 72 45);
  --clr-tertiary-fixed: rgb(191 236 216);
  --clr-on-tertiary-fixed: rgb(0 33 23);
  --clr-tertiary-fixed-dim: rgb(164 208 189);
  --clr-on-tertiary-fixed-variant: rgb(37 78 64);
  --clr-surface-dim: rgb(221 218 205);
  --clr-surface-bright: rgb(253 249 236);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(247 244 230);
  --clr-surface-container: rgb(241 238 224);
  --clr-surface-container-high: rgb(236 232 219);
  --clr-surface-container-highest: rgb(230 227 213);*/

  //orange
  /*--clr-primary: rgb(129 85 18);
  --clr-surface-tint: rgb(129 85 18);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(255 221 183);
  --clr-on-primary-container: rgb(42 23 0);
  --clr-secondary: rgb(112 91 65);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(252 222 188);
  --clr-on-secondary-container: rgb(40 24 5);
  --clr-tertiary: rgb(83 100 62);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(214 233 185);
  --clr-on-tertiary-container: rgb(18 31 3);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(255 248 244);
  --clr-on-background: rgb(33 26 19);
  --clr-surface: rgb(255 248 244);
  --clr-on-surface: rgb(33 26 19);
  --clr-surface-variant: rgb(240 224 208);
  --clr-on-surface-variant: rgb(80 69 57);
  --clr-outline: rgb(130 117 104);
  --clr-outline-variant: rgb(212 196 181);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(54 47 39);
  --clr-inverse-on-surface: rgb(252 238 226);
  --clr-inverse-primary: rgb(247 187 112);
  --clr-primary-fixed: rgb(255 221 183);
  --clr-on-primary-fixed: rgb(42 23 0);
  --clr-primary-fixed-dim: rgb(247 187 112);
  --clr-on-primary-fixed-variant: rgb(101 62 0);
  --clr-secondary-fixed: rgb(252 222 188);
  --clr-on-secondary-fixed: rgb(40 24 5);
  --clr-secondary-fixed-dim: rgb(223 194 162);
  --clr-on-secondary-fixed-variant: rgb(87 67 43);
  --clr-tertiary-fixed: rgb(214 233 185);
  --clr-on-tertiary-fixed: rgb(18 31 3);
  --clr-tertiary-fixed-dim: rgb(186 205 159);
  --clr-on-tertiary-fixed-variant: rgb(60 76 40);
  --clr-surface-dim: rgb(229 216 204);
  --clr-surface-bright: rgb(255 248 244);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(255 241 229);
  --clr-surface-container: rgb(249 236 224);
  --clr-surface-container-high: rgb(243 230 218);
  --clr-surface-container-highest: rgb(238 224 212);*/

  /*--clr-primary: rgb(0 73 146);
  --clr-surface-tint: rgb(0 93 182);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(37 110 200);
  --clr-on-primary-container: rgb(255 255 255);
  --clr-secondary: rgb(74 95 131);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(201 219 255);
  --clr-on-secondary-container: rgb(46 67 102);
  --clr-tertiary: rgb(110 43 134);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(150 81 174);
  --clr-on-tertiary-container: rgb(255 255 255);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(249 249 255);
  --clr-on-background: rgb(25 28 33);
  --clr-surface: rgb(249 249 255);
  --clr-on-surface: rgb(25 28 33);
  --clr-surface-variant: rgb(222 226 240);
  --clr-on-surface-variant: rgb(66 71 82);
  --clr-outline: rgb(114 119 131);
  --clr-outline-variant: rgb(194 198 212);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(46 48 55);
  --clr-inverse-on-surface: rgb(239 240 248);
  --clr-inverse-primary: rgb(169 199 255);
  --clr-primary-fixed: rgb(214 227 255);
  --clr-on-primary-fixed: rgb(0 27 61);
  --clr-primary-fixed-dim: rgb(169 199 255);
  --clr-on-primary-fixed-variant: rgb(0 70 140);
  --clr-secondary-fixed: rgb(214 227 255);
  --clr-on-secondary-fixed: rgb(2 27 60);
  --clr-secondary-fixed-dim: rgb(178 199 240);
  --clr-on-secondary-fixed-variant: rgb(50 71 106);
  --clr-tertiary-fixed: rgb(250 215 255);
  --clr-on-tertiary-fixed: rgb(51 0 69);
  --clr-tertiary-fixed-dim: rgb(238 177 255);
  --clr-on-tertiary-fixed-variant: rgb(107 39 131);
  --clr-surface-dim: rgb(216 218 226);
  --clr-surface-bright: rgb(249 249 255);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(242 243 251);
  --clr-surface-container: rgb(236 237 246);
  --clr-surface-container-high: rgb(231 232 240);
  --clr-surface-container-highest: rgb(225 226 234);*/

  /*--clr-primary: rgb(97 97 24);
  --clr-surface-tint: rgb(97 97 24);
  --clr-on-primary: rgb(255 255 255);
  --clr-primary-container: rgb(232 231 143);
  --clr-on-primary-container: rgb(29 29 0);
  --clr-secondary: rgb(96 96 67);
  --clr-on-secondary: rgb(255 255 255);
  --clr-secondary-container: rgb(231 228 191);
  --clr-on-secondary-container: rgb(29 29 6);
  --clr-tertiary: rgb(61 102 87);
  --clr-on-tertiary: rgb(255 255 255);
  --clr-tertiary-container: rgb(191 236 216);
  --clr-on-tertiary-container: rgb(0 33 23);
  --clr-error: rgb(186 26 26);
  --clr-on-error: rgb(255 255 255);
  --clr-error-container: rgb(255 218 214);
  --clr-on-error-container: rgb(65 0 2);
  --clr-background: rgb(253 249 236);
  --clr-on-background: rgb(28 28 20);
  --clr-surface: rgb(253 249 236);
  --clr-on-surface: rgb(28 28 20);
  --clr-surface-variant: rgb(230 227 209);
  --clr-on-surface-variant: rgb(72 71 58);
  --clr-outline: rgb(121 120 105);
  --clr-outline-variant: rgb(202 199 182);
  --clr-shadow: rgb(0 0 0);
  --clr-scrim: rgb(0 0 0);
  --clr-inverse-surface: rgb(49 49 40);
  --clr-inverse-on-surface: rgb(244 241 227);
  --clr-inverse-primary: rgb(203 203 118);
  --clr-primary-fixed: rgb(232 231 143);
  --clr-on-primary-fixed: rgb(29 29 0);
  --clr-primary-fixed-dim: rgb(203 203 118);
  --clr-on-primary-fixed-variant: rgb(73 73 0);
  --clr-secondary-fixed: rgb(231 228 191);
  --clr-on-secondary-fixed: rgb(29 29 6);
  --clr-secondary-fixed-dim: rgb(202 200 165);
  --clr-on-secondary-fixed-variant: rgb(73 72 45);
  --clr-tertiary-fixed: rgb(191 236 216);
  --clr-on-tertiary-fixed: rgb(0 33 23);
  --clr-tertiary-fixed-dim: rgb(164 208 189);
  --clr-on-tertiary-fixed-variant: rgb(37 78 64);
  --clr-surface-dim: rgb(221 218 205);
  --clr-surface-bright: rgb(253 249 236);
  --clr-surface-container-lowest: rgb(255 255 255);
  --clr-surface-container-low: rgb(247 244 230);
  --clr-surface-container: rgb(241 238 224);
  --clr-surface-container-high: rgb(236 232 219);
  --clr-surface-container-highest: rgb(230 227 213);*/

  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Rubik', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;

  --fs-400: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-500: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-600: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-700: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-800: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --headings-min-ch-count: 40ch;
  --headings-max-ch-count: 60ch;
  --body-min-ch-count: 45ch;
  --body-max-ch-count: 75ch;

  //spacing
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --padding-sm: clamp(1rem,    3%, 1.5rem);
  --padding-md: clamp(1.5rem,  6%,   3rem);
  --padding-lg: clamp(3rem,   12%,   6rem);

  --padding: clamp(1rem, 4vw, 2.5rem);
    
  --block-flow-sm: min(var(--s1),  4vh);
  --block-flow-md: min(var(--s2),  8vh);
  --block-flow-lg: min(var(--s3), 16vh);

  --layout-gap-sm: clamp(1rem,   3vmax, 1.5rem);
  --layout-gap-md: clamp(1.5rem, 6vmax,   3rem);
  --layout-gap-lg: clamp(3rem,   8vmax,   4rem);


//States
  --state-hover: 8%;
  --state-focus: 10%;
  --state-press: 10%;
  --state-drag: 16%;
}